<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_sim"> </div>
			
			<div class="box-content">
				<!-- Select-option -->
				<div id="idSim_contenedor"> </div> 
				<br/><br/>
				
				<form class="form-horizontal" role="form" >
					<legend id="legend_form"> </legend>
				
					
					<!-- identificador -->
					<div id="idSim2_contenedor"> </div>
					
					<!-- num sim 01 -->
					<div id="numSim01_contenedor"> </div> 						
					
					<!-- num sim 02 -->
					<div id="numSim02_contenedor"> </div> 			

					<!--  pin -->
					<div id="pinSim_contenedor"> </div> 			
								
					<!--  punk -->
					<div id="punkSim_contenedor"> </div> 		
									
					<!-- modelo sim -->
					<div id="modelSim_contenedor"> </div> 	
				
					<!-- idEmpresaSim -->
					<div id="idEmpresaSim_contenedor"> </div> 
					
					<!-- fecha alta -->
					<div id="fechaAlta_contenedor"> </div> 	
					
					<!-- fecha modificacion  -->
					<div id="fechaModificacion_contenedor"> </div> 	
					
		
				</form>
			</div>
		
		</div>
	</div>
</div>
<div style="height: 40px;"></div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar sim", "fa-search", "headerBox_query_sim", 0);
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_simHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idSim', nomFichero,1);
		inputCode('idSim2', nomFichero, 1); 
		inputCode('numSim01', nomFichero, 1);
		inputCode('numSim02', nomFichero, 1);
		inputCode('pinSim', nomFichero, 1);
		inputCode('punkSim', nomFichero, 1);
		inputCode('modelSim', nomFichero, 1);
		inputCode('idEmpresaSim', nomFichero, 1);
		inputCode('fechaAlta', nomFichero, 1);
		inputCode('fechaModificacion', nomFichero, 1);
		
		// cargando datos inicio	
		cargandoDatos("idSim", 'start', 'seleccion');
	
		// Cargamos el select-option		
		select_sim('idSim', 'selectOption');
	
		// valor seleccionado del select-option
		$("#selectOption_idSim").change(function(){
			changeSelect($('#idSim').val(), 'sim', operacionSQL);  // mostrar_datos_cliente
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_sim(operacionSQL);
	});
	
</script>