<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_sim"></div>
			
			<div class="box-content">
				
					<!-- Select-option -->
					<div id="idSim_contenedor"> </div> 				
					
					<br/><br/><br/>
					<form class="form-horizontal" role="form">
				
					<legend id="legend_form"> </legend>
			
					<!-- identificador -->
					<div id="idSim2_contenedor"> </div> 					
									
					<!-- num sim 01 -->
					<div id="numSim01_contenedor"> </div> 						
					
					<!-- num sim 02 -->
					<div id="numSim02_contenedor"> </div> 			

					<!--  pin -->
					<div id="pinSim_contenedor"> </div> 			
								
					<!--  punk -->
					<div id="punkSim_contenedor"> </div> 		
									
					<!-- modelo sim -->
					<div id="modelSim_contenedor"> </div> 	
										
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_sim('update')" >  </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'sim'); ">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>



<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar sim", "fa-pencil-square-o", "headerBox_update_sim", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_simHTML";
		$("form").hide();
			
		// Montamos el formulario 
		selectOptionCode('idSim', nomFichero,1);
		inputCode('idSim2', nomFichero, 1); 
		inputCode('numSim01', nomFichero, 0);
		inputCode('numSim02', nomFichero, 0);
		inputCode('pinSim', nomFichero, 0);
		inputCode('punkSim', nomFichero, 0);
		inputCode('modelSim', nomFichero, 0);
		
		// cargando datos inicio	
		cargandoDatos("idSim", 'start', 'seleccion');
	
		// Cargamos el select-option		
		select_sim('idSim', 'selectOption');
	
		// valor seleccionado del select-option
		$("#selectOption_idSim").change(function(){
			changeSelect($('#idSim').val(), 'sim', operacionSQL);  // mostrar_datos_cliente
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_sim(operacionSQL);
	});
	
</script>