	<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-header"  style="display:none;">
				<div class="box-name">
					<i class="fa fa-pencil-square"></i>
					<span id="titulo_pagina"></span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			
			<div class="box-content">
				<div id="texto_enunciado"> Alta usuario StreamSports </div>
				   		
				
				<br><br><br>
					
				
					<form class="form-horizontal" role="form">
					<!-- Datos básicos del usuario -->
					<legend id="legend_form_user"> </legend>
					<div id="form_datos_user"> </div> 
					
								
					<!-- Datos de redes sociales (facebook)  -->
					<legend id="legend_form_fb"> </legend>					
					<div id="form_datos_fb"> </div> 
	
					
					<!--  botones -->
					<div id="botones"> </div> 
					<p id="successMsg"  style="display:none;">  </p>
					
				</form>
			</div>
		</div>
	</div>
</div>
	
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>


<script type="text/javascript">

	var opciones_boton = [];
	var opciones_geoBloqueo = [];
	var opciones_autostar = [];
	var opciones_live = [];
	var opciones_estado = [];
	
	$(document).ready(function() {

		load_form_datos_user("legend_form_user", "form_datos_user");
	//	load_form_img("legend_form_img", "form_datos_img");
		load_form_fb("legend_form_fb", "form_datos_fb");
			
		// botones 
		push_arrayButton("insertar_datos_userSport()", "Guardar Datos", opciones_boton);
		push_arrayButton("borrar_datos_form()", "Borrar Datos", opciones_boton);
		insert_button("botones", "botones", "",  opciones_boton );
				
		// Add tooltip to form-controls
		$('.form-control').tooltip();
});

	
	
	function load_form_datos_user(idLegend, idDiv){
	
		// Titulos
		$('#'+idLegend).html("Datos del club");
		
		// Campos
		insert_inputText(idDiv, 'idRol', 'id. Rol:', 'Introduce el id de rol ', '', 1);
		insert_inputText(idDiv, 'userName', 'Nombre Usuario:' , 'Introduce el nombre de usuario', '', ''); // subdominio
		insert_inputText(idDiv, 'clave', 'Clave:', 'Introduce la clave de seguridad', '', '');
		
		insert_inputEmail(idDiv, 'email', 'Email:', 'Introduce un email de contacto', '', '');	
		
		insert_inputText(idDiv, 'telefono', 'Teléfono:', 'Introduce un número de teléfono', '', '');	
		insert_inputText(idDiv, 'session', 'Session:', '', '', 'null');	
		
		push_arrayRadio("Activo", 1, opciones_estado);
		push_arrayRadio("Desactivo", 0, opciones_estado);		
		insert_selectOption_basic(idDiv, 'disabled', 'Estado:', 'Selecciona una opción..', '', opciones_estado);	
		
		insert_inputText(idDiv, 'total_minutes', 'Minutos Totales:', 'Introduce el número total de minutos... ', '', 0);
		insert_inputText(idDiv, 'minutes_left', 'Minutos Left:', 'Introduce los minutos left', '', 0);
		insert_inputText(idDiv, 'address', 'Dirección:', 'Escribe la dirección del club ... ', '', '');
		
		push_arrayRadio("Activar", 1, opciones_autostar);
		push_arrayRadio("Desactivar", 0, opciones_autostar);		
		insert_selectOption_basic(idDiv, 'autostar', 'Autostar:', 'Selecciona una opción .... ', '', opciones_autostar);	
		
		insert_inputText(idDiv, 'titulo', ' Titulo:', 'Escribe el titulo para la web', '', '');
		
		//push_arrayRadio("Si", 1, opciones_live);
		//push_arrayRadio("No", 0, opciones_live);		
		//insert_selectOption_basic(idDiv, 'live', 'Live:', 'Selecciona una opción', '', opciones_live);	
		
		insert_inputText(idDiv, 'server', 'Num Servidor:', 'Escribe el numero de servidor', '', '54.154.222.51');
		insert_inputText(idDiv, 'port', 'Num Puerto:', 'Escribe el número del puerto', '', '1935');
		insert_inputText(idDiv, 'showJugadas', 'Show Jugadas:', 'Introduce el numero de jugadas a mostrar', '', 0);	
		
		push_arrayRadio("Activar", 1, opciones_geoBloqueo);
		push_arrayRadio("Desactivar", 0, opciones_geoBloqueo);		
		//insert_inputRadio(idDiv, 'geoBloqueo', 'Geobloqueo:', '', '', opciones_geoBloqueo);	
		insert_selectOption_basic(idDiv, 'geoBloqueo', 'Geobloqueo:', 'Selecciona una opción...', '', opciones_geoBloqueo);	


		// Indicamos los campos que son numericos
		$('#idRol').numeric();
	
	}


	var opciones_logoMosca = [];		
	var opciones_posicionLogo = [];		
	function load_form_img(idLegend, idDiv){
		// Titulos
		$('#'+idLegend).html("Carga imagenes, logos... ");

		
		insert_inputFile(idDiv, 'logo_mosca', 'Logo Mosca:', 'Selecciona la imagen ... ', '', '');					
								
		push_arrayRadio("Activar", 1, opciones_logoMosca);
		push_arrayRadio("Desactivar", 0, opciones_logoMosca);		
		insert_selectOption_basic(idDiv, 'logo_mosca_on', 'Logo mosca:', 'Selecciona una opción...', '', opciones_logoMosca);	
		
		insert_inputFile(idDiv, 'logoPlayer', 'Logo Player:', 'Selecciona la imagen ... ', '', '');					

		push_arrayRadio("Top Left",  "top-left" , opciones_posicionLogo);
		push_arrayRadio("Top Right", "top-right" , opciones_posicionLogo);	
		insert_selectOption_basic(idDiv, 'logoPosition', 'Posición logo:', 'Selecciona una opción...', '', opciones_posicionLogo);	
		
		insert_inputFile(idDiv, 'poster', 'Logo Poster:', 'Selecciona una imagen ... ', '', '');						
	}




	function load_form_fb(idLegend, idDiv){
		// Titulos
		$('#'+idLegend).html("Datos redes sociales");
		
		insert_inputText(idDiv, 'social_name', 'Nombre Social:', 'Introduce el nombre Social.. ', '', 'null');	
		
		insert_inputText(idDiv, 'token', 'Token:', 'Introduce el numero de token en facebook.. ', '', '');	
		insert_inputText(idDiv, 'tokenExpire', 'Fecha en que expira el token:', 'Introduce la fecha de caducidad del nº token de facebook.. ', '', '');	
		insert_inputText(idDiv, 'fbAppId', 'fbAppId:', 'Introduce el fbAppId. ', '', '');	
		insert_inputText(idDiv, 'fbAppUrl', 'fbAppUrl:', 'Introduce el fbAppUrl. ', '', '');	

		// Initialize datepicker
		$('#tokenExpire').datepicker({
			dateFormat: "yy-mm-dd", 
			setDate: new Date()
		});

	}					
				
</script>