	<!-- 
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    <script type="text/javascript" src="functions.js"></script>
	-->
	
<style type="text/css">
    .messages{
        float: left;
        font-family: sans-serif;
        display: none;
    }
    .info{
        padding: 10px;
        border-radius: 10px;
        background: orange;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .before{
        padding: 10px;
        border-radius: 10px;
        background: blue;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .success{
        padding: 10px;
        border-radius: 10px;
        background: green;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .error{
        padding: 10px;
        border-radius: 10px;
        background: red;
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
	
	table, tr td{
		border:1px solid;
	}


	#warningMsg_logoMosca,
	#warningMsg_logoPlayer,
	#warningMsg_logoPoster {
		padding: 5px;
		float: left;
	}
	
	#img_logoMosca,
	#img_logoPlayer,
	#img_logoPoster{
		float: left;
		width: 50px;
		margin-top: -30px;
	}
	
	#img_logoMosca img,
	#img_logoPlayer img,
	#img_logoPoster img{
		width: 60px;
	}
	
</style>

    <!--el enctype debe soportar subida de archivos con multipart/form-data-->
       <!--el enctype debe soportar subida de archivos con multipart/form-data-->
    <form enctype="multipart/form-data" class="formulario form-horizontal" role="form">
	
			
	<div class="form-group">					
			<label class="col-sm-3 control-label" id="username_lbl"> Selecciona el club:  </label>
			<div class="col-sm-5">
				<div id="selectOption_userSport" > </div>
			</div>
		</div>
			
	
		 <div class="form-group">					
			<label class="col-sm-3 control-label" id="logoMosca_lbl"> Logo Mosca:  </label>
			<div class="col-sm-5">
				<input type="file" id="logoMosca" name="logoMosca">  
				<input type="text" id="logoMosca_name" name="logoMosca_name" hidden>  
				<p class="bg-danger" id="errorMsg_logoMosca"  style="display:none;">  </p>
				<div style="width: 150%;">
					<p class="bg-warning" id="warningMsg_logoMosca"  style="display:none;  padding: 5px;">  </p>
					<div id="img_logoMosca"> </div>
				</div>
			</div>
		</div>
		
		
		
		 <div class="form-group">					
			<label class="col-sm-3 control-label" id="logoPlayer_lbl"> Logo Player:  </label>
			<div class="col-sm-5">
				<input type="file" id="logoPlayer" name="logoPlayer">  
				<input type="text" id="logoPLayer_name" name="logoPlayer_name" hidden>  
				<p class="bg-danger" id="errorMsg_logoPlayer"  style="display:none;">  </p>
				<div style="width: 150%;">
					<p class="bg-warning" id="warningMsg_logoPlayer"  style="display:none; padding: 5px;">  </p>
					<div id="img_logoPlayer"> </div>
				</div>
			</div>
		</div>
		
		
		 <div class="form-group">					
			<label class="col-sm-3 control-label" id="logoPoster_lbl"> Logo Poster:  </label>
			<div class="col-sm-5">
				<input type="file" id="logoPoster" name="logoPoster">  
				<input type="text" id="logoPoster_name" name="logoPoster_name" hidden>  
				<p class="bg-danger" id="errorMsg_logoPoster"  style="display:none;">  </p>
				<div style="width: 150%;">
					<p class="bg-warning" id="warningMsg_logoPoster"  style="display:none; padding: 5px;">  </p>
					<div id="img_logoPoster" style="float:left;"> </div>
				</div>
			</div>
		</div>
		
		<div class="form-group">					
			<label class="col-sm-3 control-label"  id="logo_mosca_on_lbl"> Logo Mosca:  </label>
			<div class="col-sm-5">
				<select class='form-control'   id="logo_mosca_on"   name="logo_mosca_on"> 
					<option value="-1" > Selecciona una opción... </option>
					<option value="0" > Desactivar </option>
					<option value="1"> Activar </option>
				</select>
				
				<p class="bg-danger" id="errorMsg_logoMoscaOn"  style="display:none;">  </p>
				<div style="width: 150%;">
					<p class="bg-warning" id="warningMsg_logoMoscaOn"  style="display:none; padding: 5px;">  </p>
					<div id="img_logoPoster" style="float:left;"> </div>
				</div>
			</div>
		</div>
		
		<div class="form-group">					
			<label class="col-sm-3 control-label" id="posicionLogo_lbl"> Posición Logo:  </label>
			<div class="col-sm-5">
				<select class='form-control'  id="posicionLogo" name="posicionLogo"> 
					<option value="0" > Selecciona una opción... </option>
					<option value="top-left" > Top Left </option>
					<option value="top-right"> Top Right </option>
				</select>
				
				<p class="bg-danger" id="errorMsg_posicionLogo"  style="display:none;">  </p>
				<div style="width: 150%;">
					<p class="bg-warning" id="warningMsg_posicionLogo"  style="display:none; padding: 5px;">  </p>
					<div id="img_logoPoster" style="float:left;"> </div>
				</div>
			</div>
		</div>
		
		
		
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<input type="button" id="submit" class="btn btn-primary" value="Guardar Datos" />
				<p id="successMsg"  style="display:none;">  </p>
			</div>
		</div>

		
		
	
		

		
        
    </form>
    <!--div para visualizar mensajes-->
    <div class="messages"></div><br /><br />
    <!--div para visualizar en el caso de imagen-->
    <div class="showImage"></div>
	
	
<script>
var idUsuarioSport;
$(document).ready(function(){
	loadEmpresas_sport(); //Cargamos los datos 
	operacionSQL ="update";
	$("#selectOption_userSport").change(function(){
		if(idUsuarioSport != "" ){
			idUsuarioSport = $('#selectEmpresaSport').val();	
				idUser = $('#selectEmpresaSport').val();	
				console.log("selectEmpresaSport cliente: " + idUser);
		
				if(idUser == '-1'){
					borrar_datos_form();
				}else{
					mostrar_datos_logos_sport(idUser,operacionSQL);
				}
			}
		});	
 
 
    $(".messages").hide();
    //queremos que esta variable sea global
    var fileExtension = "";
    //función que observa los cambios del campo file y obtiene información
   // $('#imagen').change(function(){	changeImg('imagen');   });
    $('#logoMosca').change(function(){	changeImg('logoMosca');   });
	$('#logoPlayer').change(function(){	changeImg('logoPlayer');  });	
	$('#logoPoster').change(function(){ changeImg('logoPoster');  });
 
    //al enviar el formulario
	$(':button').click(function(){
    //$(':submit').click(function(){
        //información del formulario
        var formData = new FormData($(".formulario")[0]);
		console.log("formData");
		console.log(formData);
        var message = ""; 
        //hacemos la petición ajax  
        $.ajax({
			url: '/io/sport/insert_logos.php',  
			type: 'POST',
            // Form data
            //datos del formulario
            data: formData,
            //necesario para subir archivos via ajax
            cache: false,
            contentType: false,
            processData: false,
            //mientras enviamos el archivo
            beforeSend: function(){
                message = $("<span class='before'>Subiendo la imagen, por favor espere...</span>");
                showMessage(message);        
            },
            //una vez finalizado correctamente
            success: function(data){
				//console.log(data);
				var arrayDatos = $.parseJSON(data);
				// funcion para guardar los datos				
                // message = $("<span class='success'>La imagen ha subido correctamente.</span>");
                message = $("<span class='success'>Los datos se han guardado correctamente.</span>");
                showMessage(message);
				mostrarImagenes(arrayDatos);
				
				
                //if(isImage(fileExtension)){ $(".showImage").html("<img src='files/"+data+"' />");   }
            },
            //si ha ocurrido un error
            error: function(){
                message = $("<span class='error'>Ha ocurrido un error, si persiste pongase en contacto con el administrador.</span>");
                showMessage(message);
            }
        });
    });
})

 
//como la utilizamos demasiadas veces, creamos una función para 
//evitar repetición de código
function showMessage(message){
    $(".messages").html("").show();
    $(".messages").html(message);
}
 
//comprobamos si el archivo a subir es una imagen
//para visualizarla una vez haya subido
function isImage(extension)
{
    switch(extension.toLowerCase()) 
    {
        case 'jpg': case 'gif': case 'png': case 'jpeg':
            return true;
        break;
        default:
            return false;
        break;
    }
}

 //función que observa los cambios del campo file y obtiene información
function changeImg(id_input){

	//obtenemos un array con los datos del archivo
    var file = $("#"+id_input)[0].files[0];
     //obtenemos el nombre del archivo
        var fileName = file.name;
        //obtenemos la extensión del archivo
        fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
        //obtenemos el tamaño del archivo
        var fileSize = file.size;
        //obtenemos el tipo de archivo image/png ejemplo
        var fileType = file.type;
        //mensaje con la información del archivo
        //showMessage("<span class='info'>Archivo para subir: "+fileName+", peso total: "+fileSize+" bytes.</span>");
        $("#warningMsg_"+id_input).css("display","block");
        $("#warningMsg_"+id_input).html("Archivo: "+fileName+", pesa: "+fileSize+" bytes.");
}



 function mostrarImagenes(datos){
	console.log(datos);
	var ruta = datos['rutaImagen'];
		console.log("ruta:" + datos['rutaImagen']);
		console.log("logoName_mosca:" + datos['logoPlayer'].name);
		console.log("logoName_player:" + datos['logoPlayer'].name);
		console.log("logoName_poster:" + datos['logoPoster'].name);
		
		var rutaC_mosca = ruta + "/"+ datos['logoMosca'].name;
		var rutaC_player = ruta + "/"+ datos['logoPlayer'].name;
		var rutaC_poster = ruta + "/"+ datos['logoPoster'].name;
		/*
		$(".showImage").append("<img src='"+rutaC_mosca+"'> ");
		$(".showImage").append("<img src='"+rutaC_player+"'> ");
		$(".showImage").append("<img src='"+rutaC_poster+"'> ");
		*/
		$("#img_logoMosca").html("<img src='"+rutaC_mosca+"'> ");
		$("#img_logoPlayer").html("<img src='"+rutaC_player+"'> ");
		$("#img_logoPoster").html("<img src='"+rutaC_poster+"'> ");
 }

 
 function mostrar_datos_logos_sport(idUser,operacionSQL){
 
 console.log("entre en mostrar_datos_logos_sport " + idUser );
 /* 
 select poster, logoPlayer, logo_mosca, logo_mosca_on, logoPosition
fROM streamsports.users where id=18 ; 
*/

	$.ajax({
			  type: 'POST',
			  url: './io/sport/select_imagenesSports.php',
			  data: {
				'idUser' :  idUser
			  },
			  success: function(response) {
				var datos  = $.parseJSON(response);
				console.log(datos);
				console.log(datos[0].proceso);
				if(datos[0].proceso == 'ok'){
					console.log("logoPlayer: " +  datos[0].logoPlayer);
					console.log("posicionLogo: " + datos[0].logoPosition);
					console.log("logo_mosca_on: " + datos[0].logoMosca_on);
					
					$("#logo_mosca_on").val(datos[0].logoMosca_on);
					$("#posicionLogo").val(datos[0].logoPosition);
					
					
					$("#img_logoMosca").css("float", "right");
					$("#img_logoMosca").css("margin-top", "-50px");
					$("#logoMosca_name").val(datos[0].logoMosca);
					
					
					$("#img_logoPlayer").css("float", "right");
					$("#img_logoPlayer").css("margin-top", "-50px");
					$("#logoPlayer_name").val(datos[0].logoPlayer);
		
					
					$("#img_logoPoster").css("float", "right");
					$("#img_logoPoster").css("margin-top", "-50px");
					$("#logoPoster_name").val(datos[0].logoPoster);
					//changeImg2("logoMosca", datos[0].logoMosca);
					
					$("#img_logoMosca").html("<img src='"+datos[0].logoMosca+"'> ");
					$("#img_logoPlayer").html("<img src='"+datos[0].logoPlayer+"'> ");
					$("#img_logoPoster").html("<img src='"+datos[0].logoPoster+"'> ");
					//$( "input:file" ).val();
					
					
					
				}
				
				
			
							
			} //fin succes
		});
		
		
 }
 
</script>