	<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-header"  style="display:none;">
				<div class="box-name">
					<i class="fa fa-pencil-square"></i>
					<span id="titulo_pagina"></span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			
			<div class="box-content">
				<div id="texto_enunciado"> Modificar datos Redes Sociales de StreamSports </div>		   		
				
				<br>
				<br>
				<br>
					
					<form class="form-horizontal" role="form">
					
						<!-- seleccionar una empresa -->
						<div class="form-group">					
							<label class="col-sm-3 control-label" id="username_lbl"> Selecciona el club:  </label>
						<div class="col-sm-5">
							<div id="selectOption_userSport" > </div>
						</div>
					</div>
				
					
					
								
					<!-- Datos de redes sociales (facebook)  -->
					<legend> Datos redes sociales</legend>					
					
					<!-- social_name -->
					<div class="form-group">					
						<label id="social_name_lbl" class="col-sm-3 control-label"> Nombre Social: </label>
						<div class="col-sm-5">
							<input  type="text" id="social_name" class="form-control" placeholder="Introduce el nombre Social..">
						</div>
					</div>
					
					<!-- token -->
					<div class="form-group">					
						<label id="token_lbl" class="col-sm-3 control-label"> Token: </label>
						<div class="col-sm-5">
							<input  type="text" id="token" class="form-control" placeholder="Introduce el numero de token..">
						</div>
					</div>
		
			
				<!-- tokenExpire -->
					<div class="form-group">					
						<label id="tokenExpire_lbl" class="col-sm-3 control-label"> Token Expire: </label>
						<div class="col-sm-5">
							<input  type="text" id="tokenExpire" class="form-control" placeholder="Fecha en la que expira el token..">
						</div>
					</div>
		
		
		
					<!-- fbAppId -->
					<div class="form-group">					
						<label id="fbAppId_lbl" class="col-sm-3 control-label"> fbAppId: </label>
						<div class="col-sm-5">
							<input  type="text" id="fbAppId" class="form-control" placeholder="Introduce el numero de fbAppId..">
						</div>
					</div>
					
					<!-- fbAppUrl -->
					<div class="form-group">					
						<label id="fbAppUrl_lbl" class="col-sm-3 control-label"> fbAppUrl: </label>
						<div class="col-sm-5">
							<input  type="text" id="fbAppUrl" class="form-control" placeholder="Introduce el numero de fbAppUrl..">
						</div>
					</div>
	
					
					<!-- botones  -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" id="submit_sport" class="btn btn-primary" onclick="update_redesSociales_sport()" > Modificar datos </button>
							<button type="reset"  id="reset"  class="btn btn-primary" onclick="borrar_datos_form()" > Borrar datos </button>
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
					
					
				</form>
			</div>
		</div>
	</div>
</div>
	
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>


<script type="text/javascript">

	
	
	var idUsuarioSport;
	
	$(document).ready(function() {
		operacionSQL ="query";
		loadEmpresas_sport(); //Cargamos los datos 		
						
		// Initialize datepicker
		$('#tokenExpire').datepicker({
			dateFormat: "yy-mm-dd", 
			setDate: new Date()
		});

		
		// Add tooltip to form-controls
		$('.form-control').tooltip();
	
		// el nombre donde esta el .change es el del div que contiene el select	
		$("#selectOption_userSport").change(function(){
			if(idUsuarioSport != "" ){
				idUsuarioSport = $('#selectEmpresaSport').val();	
				idUser = $('#selectEmpresaSport').val();	
				console.log("selectEmpresaSport cliente: " + idUser);
		
				if(idUser == '-1'){
					borrar_datos_form();
				}else{
					mostrar_datos_redesSociales(idUser,operacionSQL);
				}
			}
		});	
});


function mostrar_datos_redesSociales(idUser,operacionSQL){
		$.ajax({
			  type: 'POST',
			  url: './io/sport/select_redesSociales.php',
			  data: {
				'idUser' :  idUser
			  },
			  success: function(response) {
				var datosImagenes  = $.parseJSON(response);
				console.log(datosImagenes);
				console.log(datosImagenes[0].logoMosca_on);
				console.log(datosImagenes[0].logoPlayer);
				console.log("Estoy fuera del if");
				//Datos incorrectos, informamos con un mensje y limpiamos inputs				
				
				if(datosImagenes[0].proceso =='ok') {
					console.log("Estoy dentro del if");
					$("#logo_mosca_on").val(datosImagenes[0].logoMosca_on);
					$("#posicionLogo").val(datosImagenes[0].logoPosition);
					$("#logoPoster").val(datosImagenes[0].logoPoster);
					$("#logoMosca").val(datosImagenes[0].logoMosca);
					$("#logoPlayer").val(datosImagenes[0].logoPlayer);			
				}
							
			} //fin succes
		});
	
	
}

function update_redesSociales_sport(){
	//console.log(".... guradando datos .... ");
	
	$.ajax({
		 type: 'POST',
		 url: './io/sport/update_redesSociales.php',
		 data: {
			'idUser' :  $('#selectEmpresaSport').val(), 
			'social_name' :  $("#social_name").val(), 
			'token' :  $("#token").val(), 
			'tokenExpire' :  $("#tokenExpire").val(), 
			'fbAppId' :  $("#fbAppId").val(), 
			'fbAppUrl' :  $("#fbAppUrl").val()				
		},
		success: function(response) {
			var datosRedesSociales  = $.parseJSON(response);
			console.log(response);
			
			if( (arrayResult[0].response == 1) && (arrayResult[0].proceso == 'ok') ){
				evaluar_success(arrayResult[0].response, arrayResult[0].accion, arrayResult[0].tabla);		
				insert_log_acciones(arrayResult);		
			}else{
				$("#successMsg").css("display", "block");
				$("#successMsg").html("Error, ha sucedido algun error, ponte en contacto con el administrador si persiste.");
			}
				
		
		} //fin succes
	});
}
				
</script>