<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_insert_tipoCamara"> </div>
					
			<div class="box-content">
		
				<form class="form-horizontal" role="form">
					<legend id="legend_form"> </legend>
					
					<!-- nombreTipoProducto  -->	
					<div id="nombre_contenedor"> </div> 
					
					<!-- descTipoProducto  -->	
					<div id="descripcion_contenedor"> </div> 					
					
									
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" id="submit" class="btn btn-primary" onclick="validar_datos_tipo_camara('insert')"> </button>
							<button type="reset"  id="reset" class="btn btn-primary" onclick="borrar_datos_form()"> </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
			</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("A"+min_n+"adir tipo de camara", "fa-pencil-square-o", "headerBox_insert_tipoCamara", 0);
		operacionSQL = "insert";
		var nomFichero = operacionSQL+"_tipoCamaraHTML";
		
		// Montamos el formulario 
		inputCode('nombre', nomFichero, 0);
		inputCode('descripcion', nomFichero, 0);
		 
		placeholder_textos_tipo_camara(operacionSQL);
				
	});
</script>