<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_tipoCamara"> </div>
				
			<div class="box-content">
			
				<!-- Select-option -->
				<div id="idTipoCamara_contenedor"> </div> 
				<br/>
				<br/>
				<br/>
		
				<form class="form-horizontal" role="form">
					<legend id="legend_form"></legend>

					<!-- idTipoCamara2   -->	
					<div id="idTipoCamara2_contenedor"> </div> 
					
					<!-- nombre -->	
					<div id="nombre_contenedor"> </div> 
					
					<!-- descripcion  -->	
					<div id="descripcion_contenedor"> </div> 	
								
				</form>
			</div>
		
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		boxHeaderInfo("Buscar tipo de c"+min_a+"mara", "fa-info-circle", "headerBox_query_tipoCamara", 0);
		operacionSQL = "query";		
		var nomFichero = operacionSQL+"_tipoCamaraHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idTipoCamara', nomFichero, 1 );
		inputCode('idTipoCamara2', nomFichero, 1);
		inputCode('nombre', nomFichero, 1);
		inputCode('descripcion', nomFichero, 1);
		
		// cargando datos inicio	
		cargandoDatos("idTipoCamara", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_tipo_camara('idTipoCamara', 'selectOption');
				
		//valor seleccionado del select-option
		$("#selectOption_idTipoCamara").change(function(){
			changeSelect($('#idTipoCamara').val(), 'tipoCamara', operacionSQL);  // mostrar_datos_tipo_camara
		});


		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_tipo_camara(operacionSQL);

	});
</script>