<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_tipoCamara"> </div>			
			<div class="box-content">
				
					<!-- Select-option -->
					<div id="idTipoCamara_contenedor"> </div> 
					<br/>
					<br/>
					<br/>
					
					<form class="form-horizontal" role="form">
					<legend id="legend_form"></legend>
				
						<!-- idTipoCamara2 -->	
					<div id="idTipoCamara2_contenedor"> </div> 		
					
					<!-- nombre  -->	
					<div id="nombre_contenedor"> </div> 
					
					<!-- descripcion TipoCamara  -->	
					<div id="descripcion_contenedor"> </div> 					
								
				
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_tipo_camara('update')" > </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'tipoCamara')">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar tipo de c"+min_a+"mara", "fa-pencil-square-o", "headerBox_update_tipoCamara", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_tipoCamaraHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idTipoCamara', nomFichero, 1 );
		inputCode('idTipoCamara2', nomFichero, 0);
		inputCode('nombre', nomFichero, 0);
		inputCode('descripcion', nomFichero, 0);
						
		// cargando datos inicio	
		cargandoDatos("idTipoCamara", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_tipo_camara('idTipoCamara', 'selectOption');
		
		//valor seleccionado del select-option
		$("#selectOption_idTipoCamara").change(function(){
			changeSelect($('#idTipoCamara').val(), 'tipoCamara', operacionSQL);  // mostrar_datos_tipo_camara
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_tipo_camara(operacionSQL);
		
	});
	
</script>