<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div id="headerBox_search_producto"></div>
			<div class="box-content no-padding">
				<article id="contenido"></article>
			</div>
		</div>
	</div>
</div>


<!--End Dashboard 2 -->
<div style="height: 40px;"></div>

<script type="text/javascript">



// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable1('datatableProducto');
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}


$(document).ready(function() {
	boxHeaderInfo("Consultar producto", "fa-search", "headerBox_search_producto", 0);
	
	//Monto la tabla dinamicamente a traves de una consulta por ajax y Json.
	//cuando lo activo me da error
	select_producto('datatableProducto', 'dataTable');
	
	// Load Datatables and run plugin on tables 
	LoadDataTablesScripts(AllTables);
	
	// Add Drag-n-Drop feature
	WinMove();
		
	placeholder_textos_producto('search');
	
});

</script>
