<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_insert_usersBackoffice"> </div>			
			<div class="box-content">
				<form class="form-horizontal" role="form" >
					<legend id="legend_form"> </legend>
				
					<!-- Nombre  -->
					<div id="nameUserBack_contenedor"> </div>
									
					<!-- Pass  -->
					<div id="passUserBack_contenedor"> </div>
					
					<!-- email -->
					<div id="mailUserBack_contenedor"> </div>
					
					<!-- id rol, pero nunca se hizo la tabla rol, esta tabla es de las antiguas-->
					<div id="idRolUser_contenedor"> </div>
			
		
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_users_backoffices('insert')">  </button>
							<button id="reset" type="reset" class="btn btn-primary" onclick="borrar_datos_form()"> </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("A"+min_n+"adir usuario de backoffice", "fa-pencil-square", "headerBox_insert_usersBackoffice", 0);
		operacionSQL = "insert";
		var nomFichero = operacionSQL+"_usersBackofficeHTML";
		
		// Montamos el formulario (los input) 	
		inputCode('nameUserBack', nomFichero,0);
		inputCode('passUserBack', nomFichero,0);		
		inputCode('mailUserBack', nomFichero,0);
		selectOptionCode('idRolUser', nomFichero,0);
		
		
		// Select Option que tenemos que cargar
		select_rol_user('idRolUser', 'selectOption');
		
		// Add tooltip to form-controls
		$('.form-control').tooltip();
	
		// Añadimos los textos
		placeholder_textos_users_backoffices(operacionSQL);		
				
	});	
</script>