<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_usersBackoffice" ></div>
			
			<div class="box-content">
				
				<!-- Select-option -->
				<div id="idUserBack_contenedor"> </div>
				<br/>
				<br/>
				<br/>
				
				<form class="form-horizontal" role="form" >
					<legend id="legend_form"> </legend>
				
					<!-- id usuario backoffice -->
					<div id="idUserBack2_contenedor"> </div>
				
					<!-- Nombre  -->
					<div id="nameUserBack_contenedor"> </div>
			
					<!-- Pass  -->
					<div id="passUserBack_contenedor"> </div>
						
					<!-- email -->
					<div id="mailUserBack_contenedor"> </div>			
					
					<!-- id rol, pero nunca se hizo la tabla rol, esta tabla es de las antiguas-->
					<div id="idRolUser_contenedor"> </div>
					
					<!-- Fecha Alta -->
					<div id="fechaAlta_contenedor"> </div>
									
					<!-- Fecha Modificacion -->
					<div id="fechaModificacion_contenedor"> </div>
					
					<!-- Botones -->
					<!--
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="reset" type="reset" class="btn btn-primary" onclick="borrar_datos_form()"> </button>
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
					-->
				</form>
			</div>
		
		</div>
	</div>
</div>
<div style="height: 40px;"></div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar usuario de backoffice", "fa-info-circle", "headerBox_query_usersBackoffice", 0);
		operacionSQL = "query";
		
		var nomFichero = operacionSQL+"_usersBackofficeHTML";
		$("form").hide();
		
		// Montamos el formulario (los input) 	
		inputCode('idUserBack2', nomFichero, 1);
		inputCode('nameUserBack', nomFichero, 1);
		inputCode('passUserBack', nomFichero, 1);		
		inputCode('mailUserBack', nomFichero, 1);
		inputCode('fechaAlta', nomFichero, 1);
		inputCode('fechaModificacion', nomFichero, 1);
		selectOptionCode('idRolUser', nomFichero, 0);
		selectOptionCode('idUserBack', nomFichero, 1);
		
		// cargando datos inicio
		cargandoDatos("idUserBack", 'start', 'seleccion');
		cargandoDatos("idRolUser", 'start', 'seleccion');
		
		// cargando select-options
		select_cliente("idClienteSeleccionado","selectOption", "usersBackoffices");
		select_users_backoffices('idUserBack', 'selectOption');
		select_rol_user('idRolUser', 'selectOption');
	
		// valor seleccionado del select-option
		$("#selectOption_idUserBack").change(function(){
			changeSelect($('#idUserBack').val(), 'userBack', operacionSQL); 		
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_users_backoffices(operacionSQL);
	});
	
</script>

