<!--
NOTA: 
No se porque cuando valido los campos y estan vacios no salen los mensajes de error. 
-->
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_usersBackoffice"> </div>			
			<div class="box-content">
			
				<!-- Select-option -->
				<div id="idUserBack_contenedor"> </div>
				<br/>
				<br/>
				<br/>
				
				<form class="form-horizontal" role="form" >	
				 
					<legend id="legend_form"> </legend>
						
					<!-- id usuario backoffice -->
					<div id="idUserBack2_contenedor"> </div>
										
					<!-- Nombre  -->
					<div id="nameUserBack_contenedor"> </div>
										
					<!-- Pass  -->
					<div id="passUserBack_contenedor"> </div>
						
					<!-- email -->
					<div id="mailUserBack_contenedor"> </div>
					
					<!-- id rol, pero nunca se hizo la tabla rol, esta tabla es de las antiguas-->
					<div id="idRolUser_contenedor"> </div>
									 
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_users_backoffices('update')">  </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'userBack'); ">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
				
			</div>
		
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar usuario de backoffice", "fa-pencil-square-o", "headerBox_update_usersBackoffice", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_usersBackofficeHTML";
		$("form").hide();
		
		// Montamos el formulario (los input) 	
		inputCode('idUserBack2', nomFichero,0);
		inputCode('nameUserBack', nomFichero,0);
		inputCode('passUserBack', nomFichero,0);		
		inputCode('mailUserBack', nomFichero,0);
		selectOptionCode('idRolUser', nomFichero, 0);
		selectOptionCode('idUserBack', nomFichero, 1);
		
		// Cuando hagamos click en el select-option
		/*$("#selectOption_idRolUser").click(function() {
			eliminarSMS(nomFichero, 'idRolUser');
		});*/
		
		// cargando datos inicio
		cargandoDatos("idUserBack", 'start', 'seleccion');
		cargandoDatos("idRolUser", 'start', 'seleccion');	
		
		// cargando select-options
		select_users_backoffices('idUserBack', 'selectOption');
		select_rol_user('idRolUser', 'selectOption');
		
		// valor seleccionado del select-option
		$("#selectOption_idUserBack").change(function(){				
			changeSelect($('#idUserBack').val(), 'userBack', operacionSQL); 		
		});
	
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_users_backoffices(operacionSQL);
	});	
</script>