<style>
#tabs .ui-state-default, #tabs.ui-widget-content .ui-state-default, #tabs .ui-widget-header .ui-state-default {
      background: #CFCFBE  !important;
	  border-radius: 0px !important;
}

.ui-state-default{
	color: #FFF !important;
}

.ui-state-default a:link {
	color: #1c94c4 !important;
}
</style>


	
<div class="row">	
	<div class="col-xs-12 col-sm-12">
		<div class="box">			
			<div id="headerBox_ultimasAltas"> </div>			
			<div class="box-content">
				<div id="tabs">
					<ul>
						<li><a href="#tabs-1"><i class="fa fa-users"></i>  Cliente</a></li>
						<li><a href="#tabs-2"><i class="fa fa-hdd-o"></i> Cámara</a></li>
						<li><a href="#tabs-3"><i class="fa fa-video-camera"></i> Router</a></li>
					</ul>
					<div id="tabs-1">
						<div id="cargandoDatos_ultimos_Clientes" class="cargarDatos txtCenter">  </div> 	 	
						<div id="ultimos_Clientes"></div>
					</div>
					<div id="tabs-2">
						<div id="cargandoDatos_ultimas_Camaras" class="cargarDatos txtCenter">  </div> 	 	
						<div id="ultimas_Camaras"></div>
					</div>
					<div id="tabs-3">
						<div id="cargandoDatos_ultimos_Routers" class="cargarDatos txtCenter">  </div> 	 	
						<div id="ultimos_Routers"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

	
<div class="row">	
	<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div id="headerBox_informacion"> </div>				
			<div class="box-content">

				<!-- Numero de clientes -->					
				<div id="box_num_clientes">  
					<label class="col-sm-12 control-label bg-primary"> 
						<i class="fa fa-users"></i>     
						Número de Clientes que tenemos en BD
					</label>
					<div id="cargandoDatos_resumen_Dashboard_cliente" class="cargarDatos">  </div> 	 
					<p> </p>
					<div id="resumen_Dashboard_cliente"></div>
				</div> 
				
				<!-- Numero de routers -->				
				<div id="box_num_routers"> 						 			
					<label class="col-sm-12 control-label bg-primary"> 
						<i class="fa fa-hdd-o"></i>     
						Número de Routers en BD
					</label>
					<div id="cargandoDatos_resumen_Dashboard_router" class="cargarDatos txtCenter">  </div> 	
					<p> </p>
					<div id="resumen_Dashboard_router"></div>
				</div>
				
				<!-- Numero de camaras -->				
				<div id="box_num_camaras">  
					<label class="col-sm-12 control-label bg-primary"> 
						<i class="fa fa-video-camera"></i>
						Número de Cámaras en BD
					</label>
					<div id="cargandoDatos_resumen_Dashboard_camara" class="cargarDatos txtCenter">  </div> 	 	
					<p> </p>
					<div id="resumen_Dashboard_camara"></div>
				</div>
			</div>
		</div>
	</div>

	

	<div class="col-xs-12 col-sm-6">
		<div class="box">
		<div id="headerBox_mapaEmpresas"> </div>	
		<div class="box-content">			
			Aquí meteremos un mapa con los marcadores 
		</div>
		</div>
	</div>
</div>


<div class="row">	
	<div class="col-xs-12 col-sm-12">
		<div class="box">			
			<div id="headerBox_idea"> </div>
			<div class="box-content" id="ideas">				
				<p> <i class="fa fa-circle-o"></i> Añadir un mapa con marker. Cada marker sera una empresa en esta pag. </p>
				<p> <i class="fa fa-circle-o"></i> Añadir el "cargando datos... ", el circulito... </p>
				<p> <i class="fa fa-circle-o"></i> Añadir a las tablas la paginación </p>
				<p> <i class="fa fa-circle-o"></i> Añadir eliminar bajas</p>
				<p> <i class="fa fa-circle-o"></i> Añadir al lado del input un interrogante con lo que tienen que poner, un ejemplo</p>
				<p> <i class="fa fa-circle-o"></i> Añadir en un input hide, en los casos de update fechaHora </p>
				<p> <i class="fa fa-circle-o"></i> Eliminar los mensajes de error. En los html 'insert' o 'update' añadir ...
				, lo que falta por rellenar llamando a la funcion onfocus="eliminarSMS() cuando es un ip
					<ul>
						<li>  ... en los 'input'  onfocus="eliminarSMS() </li>
						<li> ... en los 'select-options' en el ready (ejemplo)
							<pre> 
$("#selectOption_idRolUser").click(function() {
	eliminarSMS('insert_usersBackofficeHTML', 'idRolUser');
});
							</pre>
						</li>
						<li>Lo podemos ver aplicado en el 'insert_usersBackoffice.HTML' y el 'update_usersBackoffice.HTML'  </li>
					</ul>
				</p>				
			</div>
		</div>
	</div>
</div>
	



<script type="text/javascript">

// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable4('ultimosClientes');
	TestTable4('ultimosRouters');
	TestTable4('ultimasCamaras');

	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}


$(document).ready(function() {
	boxHeaderInfo("Ideas ...", "fa-lightbulb-o", "headerBox_idea", 0);
	boxHeaderInfo("Mapa...", "fa-info", "headerBox_mapaEmpresas", 0);
	boxHeaderInfo("Información...", "fa-info", "headerBox_informacion", 0);
	boxHeaderInfo("10 últimas altas", "fa-search", "headerBox_ultimasAltas", 0);

	// ajax loader, cargando 'tabla 10 ultimos registos'
	cargandoDatos("ultimos_Clientes" , "start", 'seleccion');
	cargandoDatos("ultimas_Camaras" , "start", 'seleccion');
	cargandoDatos("ultimos_Routers" , "start", 'seleccion'); 
	
	// ajax loader, cargando 'tabla informacion'
	cargandoDatos("resumen_Dashboard_cliente","start", 'seleccion'); 
	cargandoDatos("resumen_Dashboard_camara","start", 'seleccion'); 
	cargandoDatos("resumen_Dashboard_router","start", 'seleccion'); 
	
	
	// tabla en la que se resumen el numero de clientes total des/activos
	select_cliente('tablaResumenCliente', 'resumen_info_Dashboard', 'inicio');
	select_routers('tablaResumenRouter', 'resumen_info_Dashboard');
	select_camaras('tablaResumenCamara', 'resumen_info_Dashboard');
	
	
	
	// Load TimePicker plugin and callback all time and date pickers
	LoadTimePickerScript(AllTimePickers);
	
	// Create jQuery-UI tabs
	$("#tabs").tabs();
		
	//mostraremos los 10 ultimos
	select_cliente('ultimosClientes', 'tabla_ultimos', 'inicio');
	select_routers('ultimosRouters', 'tabla_ultimos');
	select_camaras('ultimasCamaras', 'tabla_ultimos');
	
	// Load Datatables and run plugin on tables 
	LoadDataTablesScripts(AllTables);
	
	// Add Drag-n-Drop feature
	WinMove();
	
	
	// Sortable for elements
	$(".sort").sortable({
		items: "div.col-sm-2",
		appendTo: 'div.box-content'
	});
	// Droppable for example of trash
	$(".drop div.col-sm-2").draggable({containment: '.dropbox' });
	$('#trash').droppable({
		drop: function(event, ui) {
			$(ui.draggable).remove();
		}
	});
	var icons = {
		header: "ui-icon-circle-arrow-e",
		activeHeader: "ui-icon-circle-arrow-s"
	};
	
	
	// Create UI spinner
	$("#ui-spinner").spinner();
	// Add Drag-n-Drop to boxes
	WinMove();
});
</script>