<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_tipoRouter"> </div>
				
			<div class="box-content">
			
				<!-- Select-option -->
				<div id="idTipoRouter_contenedor"> </div> 
				<br/>
				<br/>
				<br/>
		
				<form class="form-horizontal" role="form">
					<legend id="legend_form"></legend>

					<!-- id   -->	
					<div id="idTipoRouter2_contenedor"> </div> 
					
					<!-- nombre   -->	
					<div id="nombre_contenedor"> </div> 
					
					<!-- descripcion  -->	
					<div id="descripcion_contenedor"> </div> 	
						
				</form>
			</div>
		
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		boxHeaderInfo("Buscar tipo de router", "fa-info-circle", "headerBox_query_tipoRouter", 0);
		operacionSQL = "query";		
		var nomFichero = operacionSQL+"_tipoRouterHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idTipoRouter', nomFichero, 1 );
		inputCode('idTipoRouter2', nomFichero, 1);
		inputCode('nombre', nomFichero, 1);
		inputCode('descripcion', nomFichero, 1);

		// cargando datos inicio	
		cargandoDatos("idTipoRouter", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_tipo_router('idTipoRouter', 'selectOption');
			
		//valor seleccionado del select-option
		$("#selectOption_idTipoRouter").change(function(){
			changeSelect($('#idTipoRouter').val(), 'tipoRouter', operacionSQL);  // mostrar_datos_tipo_router
		});


		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_tipo_router(operacionSQL);

	});
</script>