<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_tipoRouter"> </div>			
			<div class="box-content">
				
					<!-- Select-option -->
					<div id="idTipoRouter_contenedor"> </div> 
					<br/>
					<br/>
					<br/>
					
					<form class="form-horizontal" role="form" >
					<legend id="legend_form"></legend>
				
						<!-- idTipoProducto2 -->	
					<div id="idTipoRouter2_contenedor"> </div> 		
					
					<!-- nombre  -->	
					<div id="nombre_contenedor"> </div> 
					
					<!-- descripcion  -->	
					<div id="descripcion_contenedor"> </div> 										
						
					
				
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_tipo_router('update')" > </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'tipoRouter')">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar tipo de router", "fa-pencil-square-o", "headerBox_update_tipoRouter", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_tipoRouterHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idTipoRouter', nomFichero, 1 );
		inputCode('idTipoRouter2', nomFichero, 0);
		inputCode('nombre', nomFichero, 0);
		inputCode('descripcion', nomFichero, 0);		
				
		// cargando datos inicio	
		cargandoDatos("idTipoRouter", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_tipo_router('idTipoRouter', 'selectOption');
		
		//valor seleccionado del select-option
		$("#selectOption_idTipoRouter").change(function(){
			changeSelect($('#idTipoRouter').val(), 'tipoRouter', operacionSQL);  // mostrar_datos_tipo_router
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_tipo_router(operacionSQL);
		
	});
	
</script>