<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_insert_tipoProducto"> </div>
					
			<div class="box-content">
		
				<form class="form-horizontal" role="form">
					<legend id="legend_form"> </legend>
					
					<!-- nombreTipoProducto  -->	
					<div id="nombreTipoProducto_contenedor"> </div> 
					
					<!-- descTipoProducto  -->	
					<div id="descTipoProducto_contenedor"> </div> 					
					
					<!-- tipoLive  -->	
					<div id="tipoLive_contenedor"> </div> 		
				
										
					<div class="form-group">					
						<label class="col-sm-3 control-label" id="caracteristicas_lbl"> </label>
						<div class="col-sm-5">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="tp_gps" value="1"> GPS
									<i class="fa fa-square-o small"></i>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="tp_wifi" value="1"> WIFI
									<i class="fa fa-square-o small"></i>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="tp_3g" value="1"> 3G
									<i class="fa fa-square-o small"></i>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="tp_4g" value="1"> 4G
									<i class="fa fa-square-o small"></i>
								</label>
							</div>
						</div>
					</div>
					
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" id="submit" class="btn btn-primary" onclick="validar_datos_tipo_producto('insert')"> </button>
							<button type="reset"  id="reset" class="btn btn-primary" onclick="borrar_datos_form()"> </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
			</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("A"+min_n+"adir tipo de producto", "fa-pencil-square-o", "headerBox_insert_tipoProducto", 0);
		operacionSQL = "insert";
		var nomFichero = operacionSQL+"_tipoProductoHTML";
		
		// Montamos el formulario 
		inputCode('nombreTipoProducto', nomFichero, 0);
		inputCode('descTipoProducto', nomFichero, 0);
		selectOptionCode('tipoLive', nomFichero, 0 );
		
		// Cargamos los select options
		 select_option_tipo_live('tipoLive'); //Cargo el select-option tipoLive value = (live/liveflv)
		 
		placeholder_textos_tipo_producto(operacionSQL);
	});
</script>