<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div id="headerBox_search_tipoProducto"> </div>		
			<div class="box-content no-padding">
				<article id="contenido"></article>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">


	// Run Datables plugin and create 3 variants of settings
	function AllTables(){
		TestTable1('datatable');
		LoadSelect2Script(MakeSelect2);
	}

	function MakeSelect2(){
		$('select').select2();
		$('.dataTables_filter').each(function(){
			$(this).find('label input[type=text]').attr('placeholder', 'Search');
		});
	}


	$(document).ready(function() {
		boxHeaderInfo("Consultar tipo de producto", "fa-search", "headerBox_search_tipoProducto", 0);
		select_tipo_producto('idTipoProducto', 'dataTable');
		
		// Load Datatables and run plugin on tables 
		LoadDataTablesScripts(AllTables);
		
		// Add Drag-n-Drop feature
		WinMove();
		
		 placeholder_textos_tipo_producto('search');

	});

</script>

