<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_tipoProducto"> </div>			
			<div class="box-content">
				
					<!-- Select-option -->
					<div id="idTipoProducto_contenedor"> </div> 
					<br/>
					<br/>
					<br/>
					
					<form class="form-horizontal" role="form" id="datosTipoProductos">
					<legend id="legend_form"></legend>
				
						<!-- idTipoProducto2 -->	
					<div id="idTipoProducto2_contenedor"> </div> 		
					
					<!-- nombreTipoProducto  -->	
					<div id="nombreTipoProducto_contenedor"> </div> 
					
					<!-- descTipoProducto  -->	
					<div id="descTipoProducto_contenedor"> </div> 					
					
					<!-- tipoLive  -->	
					<div id="tipoLive_contenedor"> </div> 	
						
					
											
					<div class="form-group">					
						<label class="col-sm-3 control-label" id="caracteristicas_lbl"> </label>
						<div class="col-sm-5">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="tp_gps" value="1"> GPS
									<i class="fa fa-square-o small"></i>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="tp_wifi" value="1"> WIFI
									<i class="fa fa-square-o small"></i>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="tp_3g" value="1"> 3G
									<i class="fa fa-square-o small"></i>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" id="tp_4g" value="1"> 4G
									<i class="fa fa-square-o small"></i>
								</label>
							</div>
						</div>
					</div>
				
				
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_tipo_producto('update')" > </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'tipoProducto')">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar tipo de producto", "fa-pencil-square-o", "headerBox_update_tipoProducto", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_tipoProductoHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idTipoProducto', nomFichero, 1 );
		inputCode('idTipoProducto2', nomFichero, 0);
		inputCode('nombreTipoProducto', nomFichero, 0);
		inputCode('descTipoProducto', nomFichero, 0);
		selectOptionCode('tipoLive', nomFichero, 0 );
		
				
		// cargando datos inicio	
		cargandoDatos("idTipoProducto", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_tipo_producto('idTipoProducto', 'selectOption');
		select_option_tipo_live('tipoLive'); //Cargo el select-option tipoLive (live/liveflv)
		
		//valor seleccionado del select-option
		$("#selectOption_idTipoProducto").change(function(){
			changeSelect($('#idTipoProducto').val(), 'tipoProducto', operacionSQL);  // mostrar_datos_tipo_producto
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_tipo_producto(operacionSQL);
		
	});
	
</script>