<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_provincia"> </div>
			<div class="box-content">
			
					<!-- Select-option -->
					<div id="idPais_contenedor"> </div> 
					<br/><br/><br/>
					
					
					<form class="form-horizontal" role="form" >
				
					<legend id="legend_form"> </legend>
					
					<!-- ID pais -->
					<div id="idPais2_contenedor"> </div> 
								
					<!-- Nombre pais -->
					<div id="nombrePais_contenedor"> </div> 
					
					<!-- codeCalling -->
					<div id="codeCalling_contenedor"> </div> 
					
					<!-- capital -->
					<div id="capital_contenedor"> </div> 
									
					<!-- continente -->
					<div id="continente_contenedor"> </div> 
					
					<!-- latPais -->
					<div id="latPais_contenedor"> </div> 
					
					<!-- lngPais -->
					<div id="lngPais_contenedor"> </div> 			
					
					<!-- codeISO2 -->
					<div id="codeISO2_contenedor"> </div> 
										
					<!-- codeISO3 -->
					<div id="codeISO3_contenedor"> </div> 
				
					<!-- fechaAlta -->
					<div id="fechaAlta_contenedor"> </div>	
		
					<!-- fechaModificación -->
					<div id="fechaMod_contenedor"> </div>	
									
				</form>
			</div>
		
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar pa"+min_i+"s", "fa-info-circle", "headerBox_query_pais", 0);
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_paisHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idPais', nomFichero, 1 );
		inputCode('idPais2', nomFichero, 1);
		inputCode('nombrePais', nomFichero, 1);
		inputCode('codeCalling', nomFichero, 1);
		inputCode('capital', nomFichero, 1);
		//inputCode('continente', nomFichero, 1);
		selectOptionCode('continente', nomFichero, 0);
		inputCode('latPais', nomFichero, 1);
		inputCode('lngPais', nomFichero, 1);
		inputCode('codeISO2', nomFichero, 1);
		inputCode('codeISO3', nomFichero, 1);
		inputCode('fechaAlta', nomFichero, 1);
		inputCode('fechaMod', nomFichero, 1);
		
		// cargando datos inicio	
		cargandoDatos("idPais", 'start', 'seleccion');
		cargandoDatos("continente", 'start', 'seleccion');
	
		// Cargamos el select-option		
		select_pais('idPais', 'selectOption');
		selectOption_continentes('continente', 'selectOption');
	
		//valor seleccionado del select-option
		$("#selectOption_idPais").change(function(){
			changeSelect($('#idPais').val(), 'pais', operacionSQL);  // mostrar_datos_pais
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_pais(operacionSQL);
	});
	
</script>