<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_provincia"> </div>
			<div class="box-content">
				
					<!-- Select-option -->
					<div id="idPais_contenedor"> </div> 
					
					<form class="form-horizontal" role="form" >
				
					<legend id="legend_form"> </legend>
					
					<!-- ID pais -->
					<div id="idPais2_contenedor"> </div> 
								
					<!-- Nombre pais -->
					<div id="nombrePais_contenedor"> </div> 
					
					<!-- codeCalling -->
					<div id="codeCalling_contenedor"> </div> 
					
					<!-- capital -->
					<div id="capital_contenedor"> </div> 
									
					<!-- continente -->
					<div id="continente_contenedor"> </div> 
					
					<!-- latPais -->
					<div id="latPais_contenedor"> </div> 
					
					<!-- lngPais -->
					<div id="lngPais_contenedor"> </div> 			
					
					<!-- codeISO2 -->
					<div id="codeISO2_contenedor"> </div> 
										
					<!-- codeISO3 -->
					<div id="codeISO3_contenedor"> </div> 
					
					<!-- botones -->		
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_pais('update')">  </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'pais')">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>					
					
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar datos de pa"+min_i+"s", "fa-pencil-square-o", "headerBox_update_pais", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_paisHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idPais', nomFichero, 1 );
		inputCode('idPais2', nomFichero, 0);
		inputCode('nombrePais', nomFichero, 0);
		inputCode('codeCalling', nomFichero, 0);
		inputCode('capital', nomFichero, 0);
		//nputCode('continente', nomFichero, 0);
		selectOptionCode('continente', nomFichero, 0);
		inputCode('latPais', nomFichero, 0);
		inputCode('lngPais', nomFichero, 0);
		inputCode('codeISO2', nomFichero, 0);
		inputCode('codeISO3', nomFichero, 0);

		
		// cargando datos inicio	
		cargandoDatos("idPais", 'start', 'seleccion');
		cargandoDatos("continente", 'start', 'seleccion');
	
		// Cargamos el select-option		
		select_pais('idPais', 'selectOption');
		selectOption_continentes('continente', 'selectOption');
	
		//valor seleccionado del select-option
		$("#selectOption_idPais").change(function(){
			changeSelect($('#idPais').val(), 'pais', operacionSQL);  // mostrar_datos_pais
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_pais(operacionSQL);
		
	});
</script>