<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_rolUser"> </div>			
			<div class="box-content">
				
					
					<!-- Select-option -->
					<div id="idRolUser_contenedor"> </div> 
					<br/>
					<br/>
					<br/>					
				<form class="form-horizontal" role="form">
					<legend id="legend_form"> </legend>
				
					<!-- 	idRolUser2	-->
					<div id="idRolUser2_contenedor"> </div> 
						
					
					<!-- 	nombreRolUser	-->
					<div id="nombreRolUser_contenedor"> </div> 
					
					<!-- 	descripcionRolUser	-->
					<div id="descripcionRolUser_contenedor"> </div> 

					<!-- 	fechaAlta	-->
					<div id="fechaAlta_contenedor"> </div> 
					
					<!-- 	fechaModificacion	-->
					<div id="fechaModificacion_contenedor"> </div> 
						
				</form>
			</div>
		
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar rol de usuario", "fa-info-circle", "headerBox_query_rolUser", 0);
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_rolUserHTML";			
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idRolUser', nomFichero, 1 );
		inputCode('idRolUser2', nomFichero, 1);
		inputCode('nombreRolUser', nomFichero, 1);
		inputCode('descripcionRolUser', nomFichero, 1);			
		inputCode('fechaAlta', nomFichero, 1);			
		inputCode('fechaModificacion', nomFichero, 1);		
		
		
		// cargando datos inicio	
		cargandoDatos("idRolUser", 'start', 'seleccion');
	
		// Cargamos el select-option	
		select_rol_user('idRolUser', 'selectOption');
	
	// valor seleccionado del select-option
		$("#selectOption_idRolUser").change(function(){
			changeSelect($('#idRolUser').val(), 'rolUser', operacionSQL);  // mostrar_datos_rol_user
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_rol_user(operacionSQL);
	});
	
</script>