<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_rolUser"> </div>
			<div class="box-content">
				
					<!-- Select-option -->
					<div id="idRolUser_contenedor"> </div> 
					<br/>
					<br/>
					<br/>
					
					<form class="form-horizontal" role="form" id="datosTipoAviso">
						<legend id="legend_form"> </legend>
											
						<!-- 	idRolUser2	-->
						<div id="idRolUser2_contenedor"> </div> 
											
						<!-- 	nombreRolUser	-->
						<div id="nombreRolUser_contenedor"> </div> 
						
						<!-- 	descripcionRolUser	-->
						<div id="descripcionRolUser_contenedor"> </div> 

						<!-- Botones -->
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-3">
								<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_rol_user('update')" >  </button>
								<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'rolUser')">  </button>
								<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
								<p id="successMsg"  style="display:none;">  </p>
							</div>
						</div>
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar rol de usuario", "fa-pencil-square-o", "headerBox_update_rolUser", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_rolUserHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idRolUser', nomFichero, 1 );
		inputCode('idRolUser2', nomFichero, 0);
		inputCode('nombreRolUser', nomFichero, 0);
		inputCode('descripcionRolUser', nomFichero, 0);
		
		// cargando datos inicio	
		cargandoDatos("idRolUser", 'start', 'seleccion');
	
		// Cargamos el select-option
		select_rol_user('idRolUser', 'selectOption');
	
		// valor seleccionado del select-option
		$("#selectOption_idRolUser").change(function(){
			changeSelect($('#idRolUser').val(), 'rolUser', operacionSQL);  // mostrar_datos_rol_user
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_rol_user(operacionSQL);
	});
	
</script>