<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_provincia"> </div>
			<div class="box-content">
				<!-- Select-option -->
				<div id="idProvincias_contenedor"> </div> 		
				<br/><br/><br/>
				
				<form class="form-horizontal" role="form" >
					<legend id="legend_form"> </legend>
				
					<!-- idProvincias2  -->	
					<div id="idProvincias2_contenedor"> </div> 
				
					<!-- nombreProvincias  -->	
					<div id="nombreProvincias_contenedor"> </div> 
										
					<!-- codigoPostalProvincias  -->	
					<div id="codigoPostalProvincias_contenedor"> </div>
					
					<!-- fechaAlta  -->	
					<div id="fechaAlta_contenedor"> </div>
					
					<!-- fechaMod  -->	
					<div id="fechaMod_contenedor"> </div>
						
				</form>
			</div>
		
		</div>
	</div>
</div>
<div style="height: 40px;"></div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar provincia", "fa-info-circle", "headerBox_query_provincia", 0);
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_provinciaHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idProvincias', nomFichero, 1 );
		inputCode('idProvincias2', nomFichero, 0);
		inputCode('nombreProvincias', nomFichero, 0);
		inputCode('codigoPostalProvincias', nomFichero, 0);
		inputCode('fechaAlta', nomFichero, 0);
		inputCode('fechaMod', nomFichero, 0);
		
		// cargando datos inicio	
		cargandoDatos("idProvincias", 'start', 'seleccion');
	
		// Cargamos el select-option		
		select_provincias('idProvincias', 'selectOption');
	
	
		//valor seleccionado del select-option
		$("#selectOption_idProvincias").change(function(){
			changeSelect($('#idProvincias').val(), 'provincias', operacionSQL);  // mostrar_datos_provincias
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_provincias(operacionSQL);
	});
	
</script>