<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_provincia"> </div>
			<div class="box-content">
				
					<!-- Select-option -->
					<div id="idProvincias_contenedor"> </div> 					
					<br/><br/>
				
				<form class="form-horizontal" role="form" >
					<legend id="legend_form"> </legend>
			
					<!-- idProvincias2  -->	
					<div id="idProvincias2_contenedor"> </div> 
				
					<!-- nombreProvincias  -->	
					<div id="nombreProvincias_contenedor"> </div> 
										
					<!-- codigoPostalProvincias  -->	
					<div id="codigoPostalProvincias_contenedor"> </div> 
					
				
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_provincias('update')">  </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'provincias')">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar datos de provincias", "fa-pencil-square-o", "headerBox_update_provincia", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_provinciaHTML";
		$("form").hide();
			
		// Montamos el formulario 
		selectOptionCode('idProvincias', nomFichero, 1 );
		inputCode('idProvincias2', nomFichero, 0);
		inputCode('nombreProvincias', nomFichero, 0);
		inputCode('codigoPostalProvincias', nomFichero, 0);
		
		// cargando datos inicio	
		cargandoDatos("idProvincias", 'start', 'seleccion');
	
		// Cargamos el select-option	
		select_provincias('idProvincias', 'selectOption');
	
		//valor seleccionado del select-option
		$("#selectOption_idProvincias").change(function(){
			changeSelect($('#idProvincias').val(), 'provincias', operacionSQL);  // mostrar_datos_provincias
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_provincias(operacionSQL);
	});
	
</script>