<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_insert_router" ></div>
			
			<div class="box-content">		
				<form class="form-horizontal" role="form">
					<legend id="legend_form"> </legend>
					
					<!-- Nombre del router -->
					<div id="nombreRouter_contenedor"> </div> 
										
					<!-- idTipoRouter (pasara a ser un selectOption -->
					<div id="idTipoRouter_contenedor"> </div> 
			
					<!-- numSerialRouter -->
					<div id="numSerialRouter_contenedor"> </div> 
					
					<!-- macRouter -->
					<div id="macRouter_contenedor"> </div> 
					
					<!-- userRouter -->
					<div id="userRouter_contenedor"> </div> 
					
					<!-- pass -->
					<div id="passRouter_contenedor"> </div> 
										
					<!-- ip router -->
					<div id="ipStaticRouter_contenedor"> </div> 				
						
					<!-- dyndnsRouter -->
					<div id="dyndnsRouter_contenedor"> </div> 
						
					
					<!-- Botones -->					
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" id="submit" class="btn btn-primary" onclick="validar_datos_router('insert')"> </button>
							<button type="reset"  id="reset" class="btn btn-primary" onclick="borrar_datos_form()">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	
	$(document).ready(function() {
		boxHeaderInfo("A"+min_n+"adir router", "fa-pencil-square", "headerBox_insert_router", 0);
		operacionSQL = "insert";
		var nomFichero = operacionSQL+"_routerHTML";
	
		// Montamos el formulario 
		inputCode('nombreRouter', nomFichero, 0);
		// inputCode('tipoRouter', nomFichero, 0); // sera un selectOption
		selectOptionCode('idTipoRouter', nomFichero, 0); 
		inputCode('numSerialRouter', nomFichero, 0); 
		inputCode('macRouter', nomFichero, 0); 
		inputCode('userRouter', nomFichero, 0); 
		inputCode('passRouter', nomFichero, 0); 
		inputCode('ipStaticRouter', nomFichero, 0); 
		inputCode('dyndnsRouter', nomFichero, 0); 
	
		// cargando datos inicio	
		cargandoDatos("idTipoRouter", 'start', 'seleccion');
		
		// Cargamos el select-option
		select_tipo_router("idTipoRouter","selectOption");
		
		
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_router("insert");
		
		
	});
</script>

