<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_router" ></div>
			
			<div class="box-content">
				
				<!-- Select-optoion -->
				<div id="idRouter_contenedor"> </div> 			
				<br/><br/>
		
				<form class="form-horizontal" role="form"  id="datosRouter">
					<legend id="legend_form"></legend>
			
					<!-- identificador -->
					<div id="idRouter2_contenedor"> </div> 
					
					<!-- Nombre del router -->
					<div id="nombreRouter_contenedor"> </div> 
					
					<!-- tipoRouter (pasara a ser un selectOption -->
					<div id="idTipoRouter_contenedor"> </div> 
					
					<!-- numSerialRouter -->
					<div id="numSerialRouter_contenedor"> </div>
					
					<!-- macRouter -->
					<div id="macRouter_contenedor"> </div> 
					
					<!-- userRouter -->
					<div id="userRouter_contenedor"> </div> 
					
					<!-- pass -->
					<div id="passRouter_contenedor"> </div> 
					
					<!-- ip router -->
					<div id="ipStaticRouter_contenedor"> </div> 				
						
					<!-- dyndnsRouter -->
					<div id="dyndnsRouter_contenedor"> </div> 
						
					<!-- propietarioRouter -->
					<div id="propietarioRouter_contenedor"> </div> 
					
					<!-- fechaAlta -->
					<div id="fechaAlta_contenedor"> </div> 
						
					<!-- fechaAlta -->
					<div id="fechaAlta_contenedor"> </div> 
					
					<!-- fechaModificacion -->
					<div id="fechaModificacion_contenedor"> </div> 
		
				</form>
			</div>
		
		</div>
	</div>
</div>
<div style="height: 40px;"></div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Consultar router", "fa-search", "headerBox_query_router", 0);	
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_routerHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idRouter', nomFichero, 1);
		inputCode('idRouter2', nomFichero, 1);
		inputCode('nombreRouter', nomFichero, 1);
		selectOptionCode('idTipoRouter', nomFichero, 0);
		inputCode('numSerialRouter', nomFichero, 1); 
		inputCode('macRouter', nomFichero, 1); 
		inputCode('userRouter', nomFichero, 1); 
		inputCode('passRouter', nomFichero, 1); 
		inputCode('ipStaticRouter', nomFichero, 1); 
		inputCode('dyndnsRouter', nomFichero, 1); 
		inputCode('propietarioRouter', nomFichero, 1); 
		inputCode('fechaAlta', nomFichero, 1); 
		inputCode('fechaModificacion', nomFichero, 1); 
	
	
		// cargando datos inicio	
		cargandoDatos("idRouter", 'start', 'seleccion');
		cargandoDatos("idTipoRouter", 'start', 'seleccion');
			
		// Cargamos el select-option
		select_routers('idRouter', 'selectOption');
		select_tipo_router("idTipoRouter","selectOption");		
		
		//valor seleccionado del select-option
		$("#selectOption_idRouter").change(function(){
			changeSelect($('#idRouter').val(), 'router', operacionSQL);  // mostrar_datos_router
		});


		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_router(operacionSQL);
		
	});
	
</script>