<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_router" ></div>
			
			<div class="box-content">
				
				<!-- Select-opcion -->
				<div id="idRouter_contenedor"> </div> 			
				<br/><br/>
					
					<form class="form-horizontal" role="form" >
					
					<legend id="legend_form"> </legend>
		
					<!-- identificador -->
					<div id="idRouter2_contenedor"> </div> 
									
					<!-- Nombre del router -->
					<div id="nombreRouter_contenedor"> </div> 
					
					<!-- tipoRouter (pasara a ser un selectOption -->
					<div id="idTipoRouter_contenedor"> </div> 
								
					<!-- numSerialRouter -->
					<div id="numSerialRouter_contenedor"> </div>
				
					<!-- macRouter -->
					<div id="macRouter_contenedor"> </div> 
				
					<!-- userRouter -->
					<div id="userRouter_contenedor"> </div> 
					
					<!-- pass -->
					<div id="passRouter_contenedor"> </div> 
					
					<!-- ip router -->
					<div id="ipStaticRouter_contenedor"> </div> 				
						
					<!-- dyndnsRouter -->
					<div id="dyndnsRouter_contenedor"> </div> 
											
					<!-- botones  -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_router('update')" >  </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'router'); ">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar router", "fa-pencil-square-o", "headerBox_update_router", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_routerHTML";
		$("form").hide();
	
		// Montamos el formulario 
		selectOptionCode('idRouter', nomFichero, 1);
		inputCode('idRouter2', nomFichero, 1);
		inputCode('nombreRouter', nomFichero, 0);
		selectOptionCode('idTipoRouter', nomFichero, 0);
		inputCode('numSerialRouter', nomFichero, 0); 
		inputCode('macRouter', nomFichero, 0); 
		inputCode('userRouter', nomFichero, 0); 
		inputCode('passRouter', nomFichero, 0); 
		inputCode('ipStaticRouter', nomFichero, 0); 
		inputCode('dyndnsRouter', nomFichero, 0); 	
	 
		// cargando datos inicio	
		cargandoDatos("idRouter", 'start', 'seleccion');
		cargandoDatos("idTipoRouter", 'start', 'seleccion');
	
		// Cargamos el select-option
		select_routers('idRouter', 'selectOption');
		select_cliente("idClienteSeleccionado","selectOption", "router");
		select_tipo_router("idTipoRouter","selectOption");		
	
		// valor seleccionado del select-option
		$("#selectOption_idRouter").change(function(){
			changeSelect($('#idRouter').val(), 'router', operacionSQL);  // mostrar_datos_router
		});

	
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_router(operacionSQL);
	});
	
</script>