@charset "UTF-8";
/* CSS Document */

	*{
		font-family: sans-serif;
		font-size: 12px;
		color: #084b8a;
	}
		
	body{
		margin: 0 auto;
		background-color: #B0C4DE;
	}
	
	#cabecera, #header{
		text-align:center;
		height:80px;
		font-family: sans-serif;
		font-size: 50px;
		color: #084b8a;
		font-weight:bold;
	}
	
	/*Estilo de la caja de autentificación*/
	.contacto{
		border: 1px solid #CED5D7;
		border-radius: 6px;
		padding: 45px 45px 20px;
		margin-top: 50px;
		background-color: white;
		box-shadow: 0px 5px 10px #084b8a, 0 0 0 10px #EEF5F7 inset;
	}
			
	.contacto label{
		display: block; 
		font-weight: bold;				
	}
			
	.contacto input[type='text'], input[type='password']{
		padding: 7px 6px;
		width: 400px;
		border: 1px solid #CED5D7;
		resize: none;
		box-shadow:0 0 0 3px #EEF5F7;
		margin: 5px 0;
	}
	
	.contacto input[type='text']:focus, input[type='password']:focus{
		outline: none;
		box-shadow:0 0 0 3px #dde9ec;
	}
						
	.contacto input[type='button']{
		border: 1px solid #CED5D7;
		box-shadow:0 0 0 3px #EEF5F7;
		padding: 8px 16px;
		border-radius: 20px;
		font-weight: bold;
		text-shadow: 1px 1px 0px white;
		margin-top:15px;
		background: #e4f1f6; 
		background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
		background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%); 
	}
	
	.contacto input[type='button']:hover{
		background: #edfcff; 
		background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
		background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%); 
	}
	
	.contacto input[type='button']:active{
		background: #cfe6ef; 
		background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
		background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
	}
	
	.marginBottom{
		margin-bottom:15px;
	}

	/*Imagenes/logos empresas*/	
	.imgIndex img{
		margin-left: 21%;
		margin-top: 10%;
	}
			
	.imgproject2{
		float:right;
	}
			
	.tdproject, .tdproject2{
		width: 260px;
	}
						
	.imgproject3{
		margin:0 auto;
		text-align:center;
	}
	
	.campoObligatorio {
		color: red;
		font-style: italic;
		font-size: 12px;
	}
	
	#signin tr td{
		/*border:1px solid green;*/
	}
		
	#tablaContenedora tr td{
		/*	border:1px solid red;*/
	}
		
	.cta{
		width: 50px !important;
	}
		
	.ctaNumCuenta{
		width: 150px !important;
	}
		
	.height20{
		height: 20px;
		text-align: center;
	}
	
	
	.estadoInicial{
			/*display:block;*/
			display:none;
		}
			
		.txtStyle{
			height: 20px;
			font-size: 15px;
			float: left;
			padding-right: 10px;
			margin-bottom: 5px;
			margin-top: 5px;
		}
			
		.selectStyleMod{
			margin-right: 10px;
			margin-top: 5px;
		}
		.tdStyleMod{
			height: 90px !important;
		}
		
		.inputPassMod, .inputSimMod{
			margin-right: 10px;
		}
		
		.medidasInputMod{
			width: 150px !important;
			
		}	
		
		.datosMod{
			clear:both;
		}
		
		.marginL10{
			margin-left: 10px !important;
		}		
		
		.marginL21{
			margin-left: 21px !important;
		}
		
		.marginL19{
			margin-left: 19px !important;
		}
		
		#tr_box_modulo01,
		#tr_box_modulo02,
		#tr_box_modulo03,
		#tr_box_modulo04,
		#tr_box_modulo05,
		#tr_box_modulo06
		{
			padding: 5px;
		}
		
		.campoFalse{
			border: 1px solid red !important; 
			box-shadow: 0 0 0 3px red !important; 
		}
		
		.campoTrue{
			border: none !important; 
			box-shadow: 0 0 0 3px  #EEF5F7 !important; 
		}
			
		input#numModulos_inputext {
			width: 250px;
			float: left;
		}
		
		input#numModulos_btn {
			margin-top: 3px !important;
		}