<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Dashboard</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>
<!--End Breadcrumb-->
<!--Start Dashboard 1-->
<div id="dashboard-header" class="row">
	<div class="col-xs-12 col-sm-4 col-md-5">
		<h3>Alta cliente</h3>
	</div>
	<div class="clearfix visible-xs"></div>
	<div class="col-xs-12 col-sm-8 col-md-7 pull-right">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4"></div>
			<div class="col-xs-4"></div>
		</div>
	</div>
</div>
<!--End Dashboard 1-->

<!--Start Dashboard 2-->
<div class="row-fluid">
	
	<div id="dashboard_tabs" class="col-xs-12 col-sm-10">
		<!-- <h4 class="page-header">Introduce todos los datos del cliente y luego pulsa el botón guardar del final del formulario </h4> -->
		
			<form class="form-horizontal" role="form">
				<legend> Datos de la Empresa</legend>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Nombre Empresa: </label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce el nombre de la empresa" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el nombre de la empresa" id="nombreEmpresa">
						<p class="bg-danger" id="errorMsg_nombreEmpresa" style="display:none;"> * Campo Obligatorio, introduce el nombre de la empresa.  </p>
					</div>
				</div>
				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Usuario:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el nombre de la persona de contacto" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el nombre de la persona de contacto"  id="nombreUsuario">
						<p class="bg-danger" id="errorMsg_nombreUsuario"  style="display:none;"> * Campo Obligatorio, introduce el nombre de la persona de contacto  </p>
					</div>
				</div>
				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Email:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce un email de la persona de contacto" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce un email de la persona de contacto" id="email">
						<p class="bg-danger" id="errorMsg_email"  style="display:none;"> * Campo Obligatorio, introduce un email donde enviarte la información  </p>
					</div>
				</div>
				
				<div class="form-group">					
					
					
					<label class="col-sm-3 control-label">Contraseña:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce una contraseña" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce una contraseña"  id="password">
						<p class="bg-danger" id="errorMsg_password"  style="display:none;">  * Campo Obligatorio, introduce una contraseña </p>
					</div>
				</div>
				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">  Dirección </label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce la dirección de la empresa" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la dirección de la empresa" id="direccion">
						<p class="bg-danger" id="errorMsg_direccion"  style="display:none;">  * Campo Obligatorio, introduce la dirección de la empresa   </p>
					</div>
				</div>
				

				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Población:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce la poblaci&oacute;n donde esta la empresa" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la poblaci&oacute;n donde esta la empresa" id="poblacion">
						<p class="bg-danger" id="errorMsg_poblacion"   style="display:none;">  * Campo Obligatorio, introduce la ciudad donde se encuentra la empresa  </p>
					</div>
				</div>
					
					
				<div class="form-group">	
					<label class="col-sm-3 control-label">Provincia:</label>
					<div class="col-sm-5">
						<!--
						<select class="populate placeholder" name="provincia" id="provincia">
							<option value="">-- Selecciona una provincia --</option>
							<option value='A Coruña' >A Coruña</option>             
							<option value='álava'>álava</option>             
							<option value='Albacete' >Albacete</option>             
							<option value='Alicante'>Alicante</option>            
							<option value='Almería' >Almería</option>             
							<option value='Asturias' >Asturias</option>             
							<option value='ávila' >Ávila</option>             
							<option value='Badajoz' >Badajoz</option>             
							<option value='Barcelona'>Barcelona</option>             
							<option value='Burgos' >Burgos</option>             
							<option value='Cáceres' >Cáceres</option>             
							<option value='Cádiz' >Cádiz</option>             
							<option value='Cantabria' >Cantabria</option>             
							<option value='Castellón' >Castellón</option>             
							<option value='Ceuta' >Ceuta</option>             
							<option value='Ciudad Real' >Ciudad Real</option>             
							<option value='Córdoba' >Córdoba</option>             
							<option value='Cuenca' >Cuenca</option>             
							<option value='Gerona' >Gerona</option>             
							<option value='Girona' >Girona</option>             
							<option value='Las Palmas' >Las Palmas</option>            
							<option value='Granada' >Granada</option>             
							<option value='Guadalajara' >Guadalajara</option>             
							<option value='Guipúzcoa' >Guipúzcoa</option>             
							<option value='Huelva' >Huelva</option>            
							<option value='Huesca' >Huesca</option>            
							<option value='Jaén' >Jaén</option>             
							<option value='La Rioja' >La Rioja</option>            
							<option value='León' >León</option>             
							<option value='Lleida' >Lleida</option>             
							<option value='Lugo' >Lugo</option>             
							<option value='Madrid' >Madrid</option>             
							<option value='Malaga' >Málaga</option>             
							<option value='Mallorca' >Mallorca</option>             
							<option value='Melilla' >Melilla</option>             
							<option value='Murcia' >Murcia</option>            
							<option value='Navarra' >Navarra</option>            
							<option value='Orense' >Orense</option>            
							<option value='Palencia' >Palencia</option>            
							<option value='Pontevedra'>Pontevedra</option>             
							<option value='Salamanca'>Salamanca</option>            
							<option value='Segovia' >Segovia</option>            
							<option value='Sevilla' >Sevilla</option>             
							<option value='Soria' >Soria</option>             
							<option value='Tarragona' >Tarragona</option>            
							<option value='Tenerife' >Tenerife</option>             
							<option value='Teruel' >Teruel</option>             
							<option value='Toledo' >Toledo</option>             
							<option value='Valencia' >Valencia</option>          
							<option value='Valladolid' >Valladolid</option>           
							<option value='Vizcaya' >Vizcaya</option>            
							<option value='Zamora' >Zamora</option>             
							<option value='Zaragoza'>Zaragoza</option>
						</select>
						-->
						<input type="text" class="form-control" placeholder="Introduce la pprovincia donde esta la empresa" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la provincia donde esta la empresa" id="provincia">
						<p class="bg-danger" id="errorMsg_provincia"   style="display:none;">  * Campo Obligatorio, selecciona una provincia donde esta la empresa </p>
					</div>					
				</div>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Código postal:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce el código postal" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el código postal" id="cp" maxlength=5>
						<p class="bg-danger" id="errorMsg_cp"  style="display:none;">  * Campo Obligatorio, código postal de la empresa   </p>								
					</div>
				</div>
				
				<div class="form-group">	
					<label class="col-sm-3 control-label">Fecha de solicitud del alta</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce la fecha en que el cliente solicito el alta" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la fecha en que el cliente solicito el alta" id="fechaSolicitudAlta">
						<p class="bg-danger" id="errorMsg_fechaSolicitudAlta"  style="display:none;">  * Campo Obligatorio, introduce la fecha en que se solicito el alta  </p>
					</div>
				</div>
				
				
				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Teléfono Fijo:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce un teléfono fijo" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el teléfono fijo de la empresa" id="tlf_fijo" maxlength=9>
						<p class="bg-danger" id="errorMsg_tlf_fijo"  style="display:none;"> * Campo Obligatorio, introduce el teléfono fijo de la empresa </p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Teléfono Móvil:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el teléfono móvil de contacto" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el teléfono móvil de contacto"  id="tlf_movil" maxlength=9>  
						<p class="bg-danger" id="errorMsg_tlf_movil"  style="display:none;">  * Campo Obligatorio, un segundo número de teléfono  </p>
					</div>
				</div>	
				
			
				
				
				
				<legend> Datos Bancarios </legend>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Razón social</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce la razón social de la empresa" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la razón social de la empresa" id="razonSocial">
						<p class="bg-danger" id="errorMsg_razonSocial"  style="display:none;"> * Campo Obligatorio, introduce la razón social de la empresa </p>
					</div>
				</div>
				
				
				<div class="form-group">				
					<label class="col-sm-3 control-label">CIF/DNI:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce tu CIF/DNI" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce tu CIF/DNI" id="dni">
						<p class="bg-danger" id="errorMsg_dni"  style="display:none;">  * Campo Obligatorio, introduce el CIF/DNI de la empresa  </p>								
					</div>
				</div>
				
				<div class="form-group">				
					<label class="col-sm-3 control-label">Titular de la cuenta:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Nombre completo del titular" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el nombre completo del titular de la cuenta" id="titularCuenta">
						<p class="bg-danger" id="errorMsg_titularCuenta"  style="display:none;">  * Campo Obligatorio, introduce el nombre completo del titular de la cuenta  </p>								
					</div>
				</div>
				
				<div class="form-group">				
					<label class="col-sm-3 control-label">IBAN:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Número de iban" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el nombre completo del titular de la cuenta" id="iban" maxlength=4 >
						<p class="bg-danger" id="errorMsg_iban"  style="display:none;">  * Campo Obligatorio, introduce el número de iban de la cuenta banacaria </p>								
					</div>
				</div>
								
				<div class="form-group">				
					<label class="col-sm-3 control-label">ENTIDAD:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Número de entidad" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el número de entidad de la cuenta" id="entidad" maxlength=4 >
						<p class="bg-danger" id="errorMsg_entidad"  style="display:none;">  * Campo Obligatorio, introduce el número de entidad de la cuenta banacaria </p>								
					</div>
				</div>
				
				
				<div class="form-group">				
					<label class="col-sm-3 control-label">SUCURSAL:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Número de sucursal" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el número de sucursal de la cuenta" id="sucursal" maxlength=4 >
						<p class="bg-danger" id="errorMsg_sucursal"  style="display:none;">  * Campo Obligatorio, introduce el número de sucursal de la cuenta banacaria </p>								
					</div>
				</div>
				
				
				<div class="form-group">				
					<label class="col-sm-3 control-label">DC:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Número de digito del control " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el número de dc de la cuenta" id="dc" maxlength=2 >
						<p class="bg-danger" id="errorMsg_dc"  style="display:none;">  * Campo Obligatorio, introduce el número de dc de la cuenta banacaria </p>								
					</div>
				</div>
				
				
				<div class="form-group">				
					<label class="col-sm-3 control-label">NUMERO CUENTA:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Número de cuenta" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el número de cuenta" id="numCuenta" maxlength=10 >
						<p class="bg-danger" id="errorMsg_numCuenta"  style="display:none;">  * Campo Obligatorio, introduce el número de cuenta de la cuenta banacaria </p>								
					</div>
				</div>
				
				<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-primary" onclick="validar_datos()"> Guardar datos </button>
						</div>
					</div>
			</form>

	</div>
	
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>

<script src="js/scriptStreamgps.js"> </script>
<script type="text/javascript">


$(document).ready(function() {
	// Initialize datepicker
	$('#fechaSolicitudAlta').datepicker({setDate: new Date()});

	// Add tooltip to form-controls
	$('.form-control').tooltip();
	//LoadSelect2Script(DemoSelect2);

	//WinMove();
});
</script>

