<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Dashboard</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>
<!--End Breadcrumb-->
<!--Start Dashboard 1-->
<div id="dashboard-header" class="row">
	<div class="col-xs-12 col-sm-4 col-md-5">
		<h3>Alta cliente</h3>
	</div>
	<div class="clearfix visible-xs"></div>
	<div class="col-xs-12 col-sm-8 col-md-7 pull-right">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4"></div>
			<div class="col-xs-4"></div>
		</div>
	</div>
</div>
<!--End Dashboard 1-->

<!--Start Dashboard 2-->
<div class="row-fluid">
	
	<div id="dashboard_tabs" class="col-xs-12 col-sm-10">
		<!-- <h4 class="page-header">Introduce todos los datos del cliente y luego pulsa el botón guardar del final del formulario </h4> -->
		
			<form class="form-horizontal" role="form">
				<legend> Datos de la Router</legend>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">idRouter (haremos una pre-consulta para saber porque id va):</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el identificador del router" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el identificador del router"  id="idRouter">
					</div>
				</div>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Nombre router: </label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce el nombre del router" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el nombre del router" id="nombreRouter">
						<p class="bg-danger" id="errorMsg_nombreRouter" style="display:none;"> * Campo Obligatorio </p>
					</div>
				</div>
				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Tipo Router:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el tipo del router" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el tipo del router"  id="tipoRouter">
						<p class="bg-danger" id="errorMsg_tipoRouter"  style="display:none;"> * Campo Obligatorio   </p>
					</div>
				</div>
				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Número de serial:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el número de serial" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el número de serial"  id="numSerialRouter">
						<p class="bg-danger" id="errorMsg_numSerialRouter"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Mac:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el mac" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el mac"  id="macRouter">
						<p class="bg-danger" id="errorMsg_macRouter"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">User:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el user " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el user"  id="userRouter">
						<p class="bg-danger" id="errorMsg_userRouter"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">Password:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el password" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el password"  id="passRouter">
						<p class="bg-danger" id="errorMsg_passRouter"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">IP static: </label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce la IP estatica" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la IP estatica"  id="ipStaticRouter">
						<p class="bg-danger" id="errorMsg_ipStaticRouter"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">DyNDNs:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el dyndns" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el dyndns"  id="dyndnsRouter">
						<p class="bg-danger" id="errorMsg_dyndnsRouter"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				

				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Propietario:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el id del propietario" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el id del propietario"  id="propietarioRouter">
						<p class="bg-danger" id="errorMsg_propietarioRouter"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
				
				
				
				<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-primary" onclick="validar_datos_router()"> Guardar datos </button>
						</div>
					</div>
			</form>

	</div>
	
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>

<script src="js/scriptStreamgps.js"> </script>
<script type="text/javascript">


$(document).ready(function() {
	// Initialize datepicker
	$('#fechaSolicitudAlta').datepicker({setDate: new Date()});

	// Add tooltip to form-controls
	$('.form-control').tooltip();
	//LoadSelect2Script(DemoSelect2);

	//WinMove();
});
</script>

