<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar">
			<i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Dashboard</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>
<!--End Breadcrumb-->
<!--Start Dashboard 1-->
<div id="dashboard-header" class="row">
	<div class="col-xs-12 col-sm-4 col-md-5">
		<h3>Alta cliente</h3>
	</div>
	<div class="clearfix visible-xs"></div>
	<div class="col-xs-12 col-sm-8 col-md-7 pull-right">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4"></div>
			<div class="col-xs-4"></div>
		</div>
	</div>
</div>
<!--End Dashboard 1-->

<!--Start Dashboard 2-->
<div class="row-fluid">
	
	<div id="dashboard_tabs" class="col-xs-12 col-sm-10">
		<!-- <h4 class="page-header">Introduce todos los datos del cliente y luego pulsa el botón guardar del final del formulario </h4> -->
		
			<form class="form-horizontal" role="form">
				<legend> Datos de la Cámara</legend>
				<!--
				<div class="form-group">					
					<label class="col-sm-3 control-label">id Cámara (haremos una pre-consulta para saber porque id va):</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el identificador de la cámara" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el identificador de la cámara"  id="idCamara">
					</div>
				</div>
				-->
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Nombre Cámara: </label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Introduce el nombre de la empresa" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el nombre de la cámara" id="nombreCamara">
						<p class="bg-danger" id="errorMsg_nombreCamara" style="display:none;"> * Campo Obligatorio, introduce el nombre de la cámara.  </p>
					</div>
				</div>
				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Tipo cámara:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el tipo de cámara" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el tipo de cámara"  id="tipoCamara">
						<p class="bg-danger" id="errorMsg_tipoCamara"  style="display:none;"> * Campo Obligatorio   </p>
					</div>
				</div>
				
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Número de serial:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el número de serial" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el número de serial"  id="numSerialCamara">
						<p class="bg-danger" id="errorMsg_numSerialCamara"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Mac:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el mac" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el mac"  id="macCamara">
						<p class="bg-danger" id="errorMsg_macCamara"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">User:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el user " data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el user"  id="userCamara">
						<p class="bg-danger" id="errorMsg_userCamara"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">Password:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el password" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el password"  id="passCamara">
						<p class="bg-danger" id="errorMsg_passCamara"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">Location ip:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introdude la 'ip location'" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introdude la 'ip location' "  id="locationIpCamara">
						<p class="bg-danger" id="errorMsg_locationIpCamara"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">rtsp main:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el rtsp principal" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el rtsp principal"  id="rtspMain">
						<p class="bg-danger" id="errorMsg_rtspMain"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label">Resolution main:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce la resolución principal" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la resolución principal"  id="resolutionMain">
						<p class="bg-danger" id="errorMsg_resolutionMain"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
				<div class="form-group">					
					<label class="col-sm-3 control-label"> KBPS main:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce los kbps principales" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce los kbps principales"  id="kbpsMain">
						<p class="bg-danger" id="errorMsg_kbpsMain"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">rtsp Second:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el rtsp secundario" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el rtsp secundario"  id="rtspSecond">
						<p class="bg-danger" id="errorMsg_rtspSecond"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">Resolution Second:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce la resolución secundaria" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la resolución secundaria"  id="resolutionSecond">
						<p class="bg-danger" id="errorMsg_resolutionSecond"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
					<div class="form-group">					
					<label class="col-sm-3 control-label">KBPS Seconds:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce los kbps secundarios" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce los kbps secundarios"  id="kbpsSecond">
						<p class="bg-danger" id="errorMsg_kbpsSecond"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
							<div class="form-group">					
					<label class="col-sm-3 control-label">idRouter:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce la ip del router asociado" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce la ip del router asociado"  id="idRouter">
						<p class="bg-danger" id="errorMsg_idRouter"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
							<div class="form-group">					
					<label class="col-sm-3 control-label">Propietario:</label>
					<div class="col-sm-5">
						<input  type="text" class="form-control" placeholder="Introduce el nombre del propetario" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Introduce el nombre del propetario (identificadore de la empresa)"  id="propietarioCamara">
						<p class="bg-danger" id="errorMsg_propietarioCamara"  style="display:none;"> * Campo Obligatorio,   </p>
					</div>
				</div>
				
				
				
				
				<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-primary" onclick="validar_datos_camara()"> Guardar datos </button>
						</div>
					</div>
			</form>

	</div>
	
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>

<script src="js/scriptStreamgps.js"> </script>
<script type="text/javascript">


$(document).ready(function() {
	// Initialize datepicker
	$('#fechaSolicitudAlta').datepicker({setDate: new Date()});

	// Add tooltip to form-controls
	$('.form-control').tooltip();
	//LoadSelect2Script(DemoSelect2);

	//WinMove();
});
</script>

