<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_impuestos"> </div>		
			<div class="box-content">
				
					<!-- Select-option -->
					<div id="idImpuestosSelect_contenedor"> </div> 
					<br/><br/>
				
				<form class="form-horizontal" role="form" >
					<legend id="legend_form"> </legend>
				
					<!-- idImpuesto2  -->	
					<div id="idImpuesto2_contenedor"> </div> 
				
					<!-- nombreImpuesto  -->	
					<div id="nombreImpuesto_contenedor"> </div> 
						
					<!-- descripcionImpuesto  -->	
					<div id="descripcionImpuesto_contenedor"> </div> 
				
					<!-- valorImpuesto  -->	
					<div id="valorImpuesto_contenedor"> </div> 
					
					<!-- fechaAlta  -->	
					<div id="fechaAlta_contenedor"> </div> 
					
					<!-- valorImpuesto  -->	
					<div id="fechaModificacion_contenedor"> </div> 
								
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar impuesto", "fa-info-circle", "headerBox_query_impuestos", 0);
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_impuestosHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idImpuestosSelect', nomFichero, 1 );
		inputCode('idImpuesto2', nomFichero, 1);
		inputCode('nombreImpuesto', nomFichero, 1);
		inputCode('descripcionImpuesto', nomFichero, 1);
		inputCode('valorImpuesto', nomFichero, 1);		
		inputCode('fechaAlta', nomFichero, 1);		
		inputCode('fechaModificacion', nomFichero, 1);		
		
		// cargando datos inicio	
		cargandoDatos("idImpuestosSelect", 'start', 'seleccion');
			
		// Cargamos el select-option		
		select_impuestos('idImpuestosSelect', 'selectOption');
	
		//valor seleccionado del select-option
		$("#selectOption_idImpuestosSelect").change(function(){
			changeSelect($('#idImpuestosSelect').val(), 'impuestos', operacionSQL);  // mostrar_datos_impuestos
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_impuestos(operacionSQL);
	});
	
</script>

