<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_impuestos" > </div>
			<div class="box-content">
				
				<!-- Select-option   -->
				<div id="idImpuestosSelect_contenedor"> </div> 
				<br/><br/><br/>
				
				<form class="form-horizontal" role="form" >
				
					<legend id="legend_form"> </legend>
			
					<!-- idImpuesto2  -->	
					<div id="idImpuesto2_contenedor"> </div> 
				
					<!-- nombreImpuesto  -->	
					<div id="nombreImpuesto_contenedor"> </div> 
						
					<!-- descripcionImpuesto  -->	
					<div id="descripcionImpuesto_contenedor"> </div> 
				
					<!-- valorImpuesto  -->	
					<div id="valorImpuesto_contenedor"> </div> 
					
					<!-- botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_impuestos('update')" >  </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'impuestos')">  </button>
							
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar datos tabla impuestos", "fa-pencil-square-o", "headerBox_update_impuestos", 0);		
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_impuestosHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idImpuestosSelect', nomFichero, 1 );
		inputCode('idImpuesto2', nomFichero, 0);
		inputCode('nombreImpuesto', nomFichero, 0);
		inputCode('descripcionImpuesto', nomFichero, 0);
		inputCode('valorImpuesto', nomFichero, 0);		
				
		// cargando datos inicio	
		cargandoDatos("idImpuestosSelect", 'start', 'seleccion');
	
		// Cargamos el select-option	
		select_impuestos('idImpuestosSelect', 'selectOption');
	
		//valor seleccionado del select-option
		$("#selectOption_idImpuestosSelect").change(function(){
			changeSelect($('#idImpuestosSelect').val(), 'impuestos', operacionSQL);  // mostrar_datos_impuestos
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_impuestos(operacionSQL);
	});
	
</script>