<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_tipoAviso"> </div>	
			<div class="box-content">
			
				<!-- Select-option -->	
					<div id="idTipoAviso_contenedor"> </div> 
					<br/>
					<br/>
					<br/>
					
					<form class="form-horizontal" role="form" id="datosTipoAviso">
					<legend id="legend_form"> </legend>
					
					<!-- idTipoAviso2  -->	
					<div id="idTipoAviso2_contenedor"> </div> 
					
					<!-- nombreTipoAviso  -->	
					<div id="nombreTipoAviso_contenedor"> </div> 
						
					<!-- descripcionTipoAviso  -->	
					<div id="descripcionTipoAviso_contenedor"> </div> 

					<!-- fechaAlta  -->	
					<div id="fechaAlta_contenedor"> </div> 
					
					<!-- fechaModificacion  -->	
					<div id="fechaModificacion_contenedor"> </div> 
					
				</form>
			</div>
		
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar Tipo de aviso", "fa-info-circle", "headerBox_query_tipoAviso", 0);
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_tipoAvisoHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idTipoAviso', nomFichero, 1);
		inputCode('idTipoAviso2', nomFichero, 1);
		inputCode('nombreTipoAviso', nomFichero, 1);
		inputCode('descripcionTipoAviso', nomFichero, 1);
		inputCode('fechaAlta', nomFichero, 1);
		inputCode('fechaModificacion', nomFichero, 1);
		
		// cargando datos inicio	
		cargandoDatos("idTipoAviso", 'start', 'seleccion');
	
		// Cargamos el select-option	
		select_tipo_aviso('idTipoAviso', 'selectOption');
	
		//valor seleccionado del select-option
		$("#selectOption_idTipoAviso").change(function(){
			changeSelect($('#idTipoAviso').val(), 'tipoAviso', operacionSQL);  // mostrar_datos_tipo_aviso
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_tipo_aviso(operacionSQL);
	});
	
</script>