<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_tipoAviso"> </div>
			<div class="box-content">
			
					<!-- Select-option -->	
					<div id="idTipoAviso_contenedor"> </div> 
					<br/>
					<br/>
					<br/>
					
					<form class="form-horizontal" role="form" id="datosTipoAviso">
					
						<legend id="legend_form"> </legend>
					
						<!-- idTipoAviso2  -->	
						<div id="idTipoAviso2_contenedor"> </div> 
					
						
						<!-- nombreTipoAviso  -->	
						<div id="nombreTipoAviso_contenedor"> </div> 
							
						<!-- descripcionTipoAviso  -->	
						<div id="descripcionTipoAviso_contenedor"> </div> 
				
						<!-- botones -->
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-3">
								<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_tipo_aviso('update')">  </button>
								<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'tipoAviso')">  </button>
								<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
								<p id="successMsg"  style="display:none;">  </p>
							</div>
						</div>
					</form>
				</div>
		
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar datos de tipo de aviso", "fa-pencil-square-o", "headerBox_update_tipoAviso", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_tipoAvisoHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idTipoAviso', nomFichero, 1);
		inputCode('idTipoAviso2', nomFichero, 0);
		inputCode('nombreTipoAviso', nomFichero, 0);
		inputCode('descripcionTipoAviso', nomFichero, 0);
		
		// cargando datos inicio	
		cargandoDatos("idTipoAviso", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_tipo_aviso('idTipoAviso', 'selectOption');
	
		//valor seleccionado del select-option
		$("#selectOption_idTipoAviso").change(function(){		
			changeSelect($('#idTipoAviso').val(), 'tipoAviso', operacionSQL);  // mostrar_datos_tipo_aviso
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_tipo_aviso(operacionSQL);
	});
	
</script>