<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_tipoEventoLog"> </div>	
			
			<div class="box-content">

					<!-- Select-option -->
					<div id="idTipoEventoLogSelect_contenedor"> </div> 
					<br/><br/>
					<form class="form-horizontal" role="form" >
					<legend id="legend_form"> </legend>
						
					<!-- idEvento2 -->	
					<div id="idEvento2_contenedor"> </div> 
					
					<!-- nombreEvento -->	
					<div id="nombreEvento_contenedor"> </div> 
				
					<!-- descEvento -->	
					<div id="descEvento_contenedor"> </div> 
			
					<!-- fechaAlta -->	
					<div id="fechaAlta_contenedor"> </div>
					
					<!-- fechaModificacion -->	
					<div id="fechaModificacion_contenedor"> </div> 

				</form>
			</div>
		
		</div>
	</div>
</div>
<div style="height: 40px;"></div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar tipo de eventos de un log", "fa-pencil-square", "headerBox_query_tipoEventoLog", 0);
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_tipoEventoLogHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idTipoEventoLogSelect', nomFichero, 1 );
		inputCode('idEvento2', nomFichero, 1);
		inputCode('nombreEvento', nomFichero, 1);
		inputCode('descEvento', nomFichero, 1 );	
		inputCode('fechaAlta', nomFichero, 1 );	
		inputCode('fechaModificacion', nomFichero, 1 );	
		
		// cargando datos inicio	
		cargandoDatos("idTipoEventoLogSelect", 'start', 'seleccion');
	
		// Cargamos el select-option		
		select_tipo_evento_log('idTipoEventoLogSelect', 'selectOption');
	
		//valor seleccionado del select-option
		$("#selectOption_idTipoEventoLogSelect").change(function(){
			changeSelect($('#idTipoEventoLogSelect').val(), 'tipoEventoLog', operacionSQL);  // mostrar_datos_tipo_evento_log
		});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_tipo_evento_log(operacionSQL);
	});
	
</script>