<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header" style="display:none;">
				<div class="box-name">
					<i class="fa fa-search"></i>
					<span id="titulo_pagina"></span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<article id="contenido"></article>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">


// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable1('datatableTipoEventoLog');
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}


$(document).ready(function() {


	//Monto la tabla dinamicamente a traves de una consulta por ajax y Json.
	//cuando lo activo me da error
	select_tipo_evento_log('datatableTipoEventoLog', 'dataTable');
	
	// Load Datatables and run plugin on tables 
	LoadDataTablesScripts(AllTables);
	
	// Add Drag-n-Drop feature
	WinMove();
		
	placeholder_textos_tipo_evento_log('search');
	
});

</script>

