<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_insert_cliente"> </div>			
			<div class="box-content">
							
				<!-- listado de lo que tiene que pasar para que todo vaya bien al crear un cliente -->
				<div>
					<ul id="avisoLista">
						<li> Se inserta un nuevo registro en eude.empresas  </li>
						<li> Se inserta un nuevo registro en eude.cta_empresas	</li>
						<li> Se crea la nueva base de datos </li>
						<li> Los datos que hay en eude.empresas se añaden a newBD.info_cliente	</li>
						<li> Comprobar que ha creado todas las tablas 
							<ul>
								<li> alarma_movimiento </li>
								<li> avisos  </li>
								<li> empleados  </li>
								<li> grabacions (2 triggers [grabacions_BEFORE_INSERT] [grabacions_AINS] ) </li>
								<li> historial_alertas </li>
								<li> historial_grabacions </li>
								<li> historial_posiciones </li>
								<li> info_cliente </li>
								<li> info_server</li>
								<li> log_consumo_producto </li>
								<li> log_pages </li>
								<li> log_sesiones</li>
								<li> log_ultimaposicion </li>
								<li> log_zones </li>
								<li> log_zones_points </li>
								<li> login_attempts </li>
								<li> login_users </li>
								<li> posiciones (1 triggers [actualizarUltimaPosicion])</li>
								<li> productos_contratados </li>
								<li> ultimaposicion </li>
								<li> user_producto</li>
								<li> zones </li>
								<li> zones_points </li>
							</ul>
						</li>
					</ul>					
				</div>
				
				<div id="texto_enunciado"> </div>
				<br><br>
					
				<form class="form-horizontal" role="form">
					<legend id="legend_form"> </legend>					

					<!-- nif / cif / dni -->
					<div id="dni_contenedor"> </div> 
					
					<!-- nombre -->
					<div id="nombreEmpresa_contenedor"> </div> 
							
					<!-- email -->
					<div id="email_contenedor"> </div> 
			
					<!-- pass  -->
					<div id="password_contenedor"> </div> 
					
					<!-- direccion -->
					<div id="direccion_contenedor"> </div> 
				
					<!-- poblacion -->
					<div id="poblacion_contenedor"> </div> 
									
					<!-- provincias -->
					<div id="idProvincias_contenedor"> </div> 
							
					<!-- pais -->
					<div id="idPais_contenedor"> </div>  
					
					<!-- codigo postal -->
					<div id="cp_contenedor"> </div> 
				
					<!-- telefono fijo -->
					<div id="tlf_fijo_contenedor"> </div> 
					
					<!-- telefono movil -->
					<div id="tlf_movil_contenedor"> </div> 
			
					<!-- fecha solicitud alta -->
					<div id="fechaSolicitudAlta_contenedor"> </div> 
				
			
					<!-- 	Datos de la cta	-->					
					<legend id="legend_form_cta"> </legend>
					
					<!-- 	Razón social	-->
					<div id="razonSocial_contenedor"> </div> 
									
					<!-- 	titular Cuenta	-->
					<div id="titularCuenta_contenedor"> </div> 
				
					<!-- 	tipo de cuenta	-->
					<div id="tipoNumBanco_contenedor"> </div> 
					
					<!-- 	Numero Cuenta -->
					<div id="entidad_contenedor" class="tipoCuenta tipoCuenta_ccc "> </div> 
					<div id="sucursal_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
					<div id="dc_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
					<div id="numCuenta_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
									
					<!--  iban	-->
					<div id="iban_contenedor" class="tipoCuenta"> </div> 				
					
					<!--  swift	-->
					<div id="swift_contenedor"  class="tipoCuenta"> </div> 
			
				
					<!-- Datos configuración -->
					<legend id="legend_form_direccion"> </legend>
					
					<!-- server = ip+puerto -->
					<div id="ipEmpresa_contenedor"> </div> 
									
					<!-- puerto -->
					<div id="puertoEmpresa_contenedor"> </div> 
					
					<!-- Video analisis -->	
					<div id="videoAnalisis_contenedor"> </div> 
					
				
					<!-- 	Botones	-->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" id="submit" class="btn btn-primary" onclick="validar_datos('insert')"> </button>
							<button type="reset" id="reset" class="btn btn-primary" onclick="borrar_datos_form()">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>

				
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		$("#avisoLista").hide();
		boxHeaderInfo("A"+min_n+"adir cliente - empresa ", "fa-pencil-square", "headerBox_insert_cliente", 1);
		operacionSQL = "insert";
		var nomFichero = operacionSQL+"_clienteHTML";
					
		// Montamos el formulario 
		inputCode('dni', nomFichero, 0);
		inputCode('nombreEmpresa', nomFichero, 0 );
		inputCode('email', nomFichero, 0 );
		inputCode('password', nomFichero, 0 );
		inputCode('direccion', nomFichero, 0 );
		inputCode('poblacion', nomFichero, 0 );
		selectOptionCode('idProvincias', nomFichero,0);
		selectOptionCode('idPais', nomFichero,0);
		inputCode('cp', nomFichero, 0 );
		inputCode('tlf_fijo', nomFichero, 0 );
		inputCode('tlf_movil', nomFichero, 0 );
		inputCode('fechaSolicitudAlta', nomFichero, 0 );
		// Datos bancarios
		inputCode('razonSocial', nomFichero, 0 );
		inputCode('titularCuenta', nomFichero, 0 );		
		selectOptionCode('tipoNumBanco', nomFichero, 0 );
		inputCode('entidad', nomFichero, 0 ); // maxlength=4
		inputCode('sucursal', nomFichero, 0 ); // maxlength=4
		inputCode('dc', nomFichero, 0 ); // maxlength=2
		inputCode('numCuenta', nomFichero, 0 ); // maxlength=10
		inputCode('iban', nomFichero, 0 );
		inputCode('swift', nomFichero, 0 );
		// otro datos
		inputCode('ipEmpresa', nomFichero, 0 );
		inputCode('puertoEmpresa', nomFichero, 0 );
		selectOptionCode('videoAnalisis', nomFichero, 0 );
		
		
		// Campos numericos
		$('#cp').numeric();
		$('#tlf_fijo').numeric();
		$('#tlf_movil').numeric();
		$('#entidad').numeric();
		$('#sucursal').numeric();
		$('#dc').numeric();
		$('#numCuenta').numeric();
		
				
		// cargando datos inicio	
		cargandoDatos("idProvincias", 'start', 'seleccion');
		cargandoDatos("idPais", 'start', 'seleccion');
		cargandoDatos("tipoNumBanco", 'start', 'seleccion');
		cargandoDatos("videoAnalisis", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_provincias('idProvincias', 'selectOption'); 
		select_pais("idPais", "selectOption");	
		select_tipoNumBanco("tipoNumBanco"); 
		select_optionBinario('videoAnalisis', 'Desactivar', 'Activar'); 
		
		// Initialize datepicker
		$('#fechaSolicitudAlta').datepicker({
			dateFormat: "yy-mm-dd", 
			setDate: new Date()
		});
		//DATE('2003-12-31 01:02:03')
		
		
		// Escondemos las opciones del tipo cuenta 
		 $('.tipoCuenta').css('display','none');
		
		$("#tipoNumBanco").change(function(){
			option = $('#tipoNumBanco').val();		
			$('.tipoCuenta').hide(); //bloqueo todos, incluido el seleccionado
			switch(option){
				case 'ccc':
					$('.tipoCuenta_ccc').show();
					break;
					
				case 'iban':	
				case 'swift':				
					$('#'+option+'_contenedor').show();
					break;				
			}				
		});	
		
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_cliente(operacionSQL);
		
		
	});
</script>