<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_clienteCta"> </div>
				
			<div class="box-content">
				
					<!-- SELECT-OPTION -->
					<div id="idClienteSeleccion_contenedor"> </div>		
					<br/>
					<br/>
					<br/>
		
					<form class="form-horizontal" role="form">
					<legend id="legend_form"></legend>
					
					<!-- idCliente -->
					<div id="idCliente2_contenedor"> </div> 
					
					<!-- 	Razón social	-->
					<div id="razonSocial_contenedor"> </div>
									
					<!-- nif / cif / dni -->
					<div id="dni_contenedor"> </div> 
										
					<!-- cta fecha Alta -->
					<div id="cta_fechaAlta_contenedor"> </div> 
										
					<!-- cta fecha Modificacion -->
					<div id="cta_fechaModificacion_contenedor"> </div> 
					
					
					<legend id="legend_form_cta">  </legend>
										
					<!-- titularCuenta -->
					<div id="titularCuenta_contenedor"> </div> 
										
					<!-- 	Numero Cuenta -->
					<div id="entidad_contenedor" class="tipoCuenta tipoCuenta_ccc "> </div> 
					<div id="sucursal_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
					<div id="dc_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
					<div id="numCuenta_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
									
					<!--  iban	-->
					<div id="iban_contenedor" class="tipoCuenta"> </div> 				
					
					<!--  swift	-->
					<div id="swift_contenedor"  class="tipoCuenta"> </div> 
					
				</form>

			</div>
		</div>
	</div>
</div>
	
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>


<script type="text/javascript">

//select option 
function DemoSelect2(){
	$('#idClienteSeleccion').select2();
}

	$(document).ready(function() {
		boxHeaderInfo("Buscar cta de clientes - empresas", "fa-search", "headerBox_query_clienteCta", 0);
		operacionSQL ="query";
		var nomFichero = operacionSQL+"_clienteHTML";
		// $("form").hide();
			
		// Montamos el formulario 
		selectOptionCode('idClienteSeleccion', nomFichero, 1 );
		inputCode('idCliente2', nomFichero, 1);
		inputCode('razonSocial', nomFichero,1);
		inputCode('dni', nomFichero,1);
		inputCode('cta_fechaAlta', nomFichero,1);
		inputCode('cta_fechaModificacion', nomFichero,1);
		// Datos bancarios
		// selectOptionCode('tipoNumBanco', nomFichero, 0 );
		inputCode('titularCuenta', nomFichero,1);
		inputCode('entidad', nomFichero, 1 ); // maxlength=4
		inputCode('sucursal', nomFichero, 1 ); // maxlength=4
		inputCode('dc', nomFichero, 1 ); // maxlength=2
		inputCode('numCuenta', nomFichero, 1 ); // maxlength=10
		inputCode('iban', nomFichero, 1 );
		inputCode('swift', nomFichero, 1 );

		// cargando datos inicio	
		cargandoDatos("idClienteSeleccion", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_cliente('idClienteSeleccion','selectOption', 'cliente');
		select_option_des_activo('selectEstado'); //Cargo el select-option estado producto (activo/desactivo)
		
		//valor seleccionado del select-option
		$("#selectOption_idClienteSeleccion").change(function(){
			changeSelect($('#idClienteSeleccion').val(), 'cliente', operacionSQL);  // mostrar_datos_cliente
		});
		
		// Campos numericos
		$('#iban').numeric();
		$('#entidad').numeric();
		$('#sucursal').numeric();
		$('#dc').numeric();
		$('#numCuenta').numeric();
		
		// Initialize datepicker
		$('#fechaSolicitudAlta').datepicker({
			dateFormat: "yy-mm-dd", 
			setDate: new Date()
		});
		
		
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_cliente(operacionSQL);
		
	});
	</script>