<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_cliente"> </div>
		
			
			<div class="box-content">	
				
				<!-- Select-option -->
				<div id="idClienteSeleccion_contenedor"> </div>					
				<br/>
				<br/>
				<br/>
				
			
				<form class="form-horizontal" role="form">
					<legend> Datos de la Empresa</legend>
					
					<!-- idCliente -->
					<div id="idCliente2_contenedor"> </div> 			
					
					<!-- 	Razón social	-->
					<div id="razonSocial_contenedor"> </div> 
					
					<!-- nif / cif / dni -->
					<div id="dni_contenedor"> </div> 
					
					<!-- nombreEmpresa   -->					
					<div id="nombreEmpresa_contenedor"> </div> 
										
					<!-- email -->
					<div id="email_contenedor"> </div>
					
					<!-- pass  -->
					<div id="password_contenedor"> </div> 					
			
					<!-- direccion -->
					<div id="direccion_contenedor"> </div> 
				
					<!-- poblacion -->
					<div id="poblacion_contenedor"> </div> 
					
					<!-- provincias -->
					<div id="idProvincias_contenedor"> </div> 
							
					<!-- codigo postal -->
					<div id="cp_contenedor"> </div> 
					
					<!-- pais -->
					<div id="idPais_contenedor"> </div>  
					
					<!-- telefono fijo -->
					<div id="tlf_fijo_contenedor"> </div> 
					
					<!-- telefono movil -->
					<div id="tlf_movil_contenedor"> </div> 
					
					<!-- Fecha Alta Solicitud -->
					<div id="fechaSolicitudAlta_contenedor"> </div> 
					
					<!-- Fecha Alta -->
					<div id="fechaAlta_contenedor"> </div> 
					
					<!-- Fecha Modificacion (falta el campo en la tabla) -->
					<!-- <div id="fechaModifiicacion_contenedor"> </div> 	 -->
						
	
					<legend id="legend_form_otros"> </legend>
					
					<!-- estado  -->		
					<div id="selectEstado_contenedor"> </div> 
					
					<!-- nombre base de datos  -->		
					<div id="nombreBD_contenedor"> </div> 
					
					<!--prefixCliente -->		
					<div id="prefixCliente_contenedor"> </div> 
					
						<!-- server = ip+puerto -->
					<div id="ipEmpresa_contenedor"> </div> 
									
					<!-- puerto -->
					<div id="puertoEmpresa_contenedor"> </div> 
							
					<!-- stream app cliente  -->	
					<div id="streamAPPCliente_contenedor"> </div> 
				
					<!-- dominio -->
					<div id="dominioCliente_contenedor"> </div> 
										
					<!-- conn -->			
					<div id="connCliente_contenedor"> </div> 	
					
					<!-- Video analisis -->	
					<div id="videoAnalisis_contenedor"> </div> 

					<!-- Numero de licencias (producto contratados)  -->	
					<div id="numModulosContratados_contenedor"> </div> 
				
		
				</form>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Buscar clientes - empresas", "fa-search", "headerBox_query_cliente", 0);
		operacionSQL ="query";
		var nomFichero = operacionSQL+"_clienteHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idClienteSeleccion', nomFichero, 1 );
		inputCode('idCliente2', nomFichero, 1 );
		inputCode('razonSocial', nomFichero, 1 );
		inputCode('dni', nomFichero, 1);
		inputCode('nombreEmpresa', nomFichero, 1 );
		inputCode('email', nomFichero, 1 );
		inputCode('password', nomFichero, 1 );
		inputCode('direccion', nomFichero, 1 );
		inputCode('poblacion', nomFichero,1 );
		selectOptionCode('idProvincias', nomFichero,0);
		inputCode('cp', nomFichero, 1 );
		selectOptionCode('idPais', nomFichero,0);
		inputCode('tlf_fijo', nomFichero, 1);
		inputCode('tlf_movil', nomFichero, 1 );
		// Fechas
		inputCode('fechaSolicitudAlta', nomFichero, 1 );
		inputCode('fechaAlta', nomFichero, 1);
		// inputCode('fechaModifiicacion', nomFichero, 0 );
		// Otros datos 
		selectOptionCode('selectEstado', nomFichero, 0 );
		inputCode('nombreBD', nomFichero,1 );
		inputCode('prefixCliente', nomFichero, 1 );
		inputCode('ipEmpresa', nomFichero,1 );
		inputCode('puertoEmpresa', nomFichero, 1 );
		inputCode('streamAPPCliente', nomFichero, 1 );
		selectOptionCode('videoAnalisis', nomFichero, 0 );
		selectOptionCode('selectEstado', nomFichero, 0 );
		inputCode('dominioCliente', nomFichero, 1 );
		
		// cargando datos inicio	
		cargandoDatos("idClienteSeleccion", 'start', 'seleccion');
		cargandoDatos("idProvincias", 'start', 'seleccion');
		cargandoDatos("idPais", 'start', 'seleccion');
		
		// Cargamos el select-option		
		select_cliente("idClienteSeleccion","selectOption", 'cliente');
		select_optionBinario('selectEstado', 'Desactivo', 'Activo'); 	 //Cargo el select-option estado producto (activo/desactivo)
		select_provincias('idProvincias', 'selectOption');	 //Cargo el select-option para elegir provincia
		select_pais("idPais", "selectOption");
			
		// valor seleccionado del select-option
		$("#selectOption_idClienteSeleccion").change(function(){
			changeSelect($('#idClienteSeleccion').val(), 'cliente', operacionSQL);  // mostrar_datos_cliente
		});
		
		
		// Campos numericos
		$('#cp').numeric();
		$('#tlf_fijo').numeric();
		$('#tlf_movil').numeric();
		$('#iban').numeric();
		$('#entidad').numeric();
		$('#sucursal').numeric();
		$('#dc').numeric();
		$('#numCuenta').numeric();
		
		// Initialize datepicker
		$('#fechaSolicitudAlta').datepicker({
			dateFormat: "yy-mm-dd", 
			setDate: new Date()
		});
		
		
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_cliente(operacionSQL);
		
	});
</script>