<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div id="headerBox_search_cliente" >	</div>
			<div class="box-content no-padding">
				<!-- el article es donde se le envia para q se muestre el datatable con los datos-->
				<article id="contenido"></article> 				
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">


// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable1('datatableCliente');
	//TestTable2();
	//TestTable3();
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}

$(document).ready(function() {
	boxHeaderInfo("Consultar clientes - empresas", "fa-info-circle", "headerBox_search_cliente", 0);

	//Monto la tabla dinamicamente a traves de una consulta por ajax y Json.
	//cuando lo activo me da error
	//select_routers2('datatableRouter'); //html dinamico
	select_cliente('datatableCliente', 'dataTable', 'cliente');
	
	// Load Datatables and run plugin on tables 
	LoadDataTablesScripts(AllTables);
	
	// Add Drag-n-Drop feature
	WinMove();
		
	placeholder_textos_cliente('search');
	
});

</script>

