<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_clienteCta"> </div>
			
			<div class="box-content">
				
				<!-- Select-option -->
				<div id="idClienteSeleccion_contenedor"> </div>		
				<br/>
				<br/>
				
				<!-- <h4 class="page-header">Introduce todos los datos del cliente y luego pulsa el botón guardar del final del formulario </h4> -->
		
				<form class="form-horizontal" role="form">
					<legend id="legend_form"> </legend>
					
					<!-- idCliente -->
					<div id="idCliente2_contenedor"> </div> 
					
					<!-- 	Razón social	-->
					<div id="razonSocial_contenedor"> </div>
					
					<!-- nif / cif / dni -->
					<div id="dni_contenedor"> </div> 
									
									
					
					<legend  id="legend_form_cta">   </legend>				
				
					

					<!-- titularCuenta -->
					<div id="titularCuenta_contenedor"> </div> 
										
					<!-- 	Numero Cuenta -->
					<div id="entidad_contenedor" class="tipoCuenta tipoCuenta_ccc "> </div> 
					<div id="sucursal_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
					<div id="dc_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
					<div id="numCuenta_contenedor" class="tipoCuenta tipoCuenta_ccc"> </div> 
									
					<!--  iban	-->
					<div id="iban_contenedor" class="tipoCuenta"> </div> 				
					
					<!--  swift	-->
					<div id="swift_contenedor"  class="tipoCuenta"> </div> 
					
					<!-- Botones -->				
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" id="submit" class="btn btn-primary" onclick="validar_datos_cta('update', 'cta')"> </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'cta'); ">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>




<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar cta de clientes - empresas", "fa-pencil-square-o", "headerBox_update_clienteCta", 0);
		operacionSQL="update";
		var nomFichero = operacionSQL+"_cliente_ctaHTML";
		$("form").hide();
			
		// Montamos el formulario 
		selectOptionCode('idClienteSeleccion', nomFichero, 1 );
		inputCode('idCliente2', nomFichero, 1);
		inputCode('razonSocial', nomFichero, 1);
		inputCode('dni', nomFichero,1);
		// Datos bancarios
		// selectOptionCode('tipoNumBanco', nomFichero, 0 );
		inputCode('titularCuenta', nomFichero,0);
		inputCode('entidad', nomFichero, 0 ); // maxlength=4
		inputCode('sucursal', nomFichero, 0 ); // maxlength=4
		inputCode('dc', nomFichero, 0 ); // maxlength=2
		inputCode('numCuenta', nomFichero, 0 ); // maxlength=10
		inputCode('iban', nomFichero, 0 );
		inputCode('swift', nomFichero, 0 );
	
	
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_cliente(operacionSQL);
		
		// cargando datos inicio	
		cargandoDatos("idClienteSeleccion", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_cliente('idClienteSeleccion', 'selectOption', 'cliente');
		
		// valor seleccionado del select-option
		$("#selectOption_idClienteSeleccion").change(function(){
			changeSelect($('#idClienteSeleccion').val(), 'cliente', operacionSQL);  // mostrar_datos_cliente
		});		
		
		// Campos numericos
		$('#iban').numeric();
		$('#entidad').numeric();
		$('#sucursal').numeric();
		$('#dc').numeric();
		$('#numCuenta').numeric();
		
		// Initialize datepicker
		$('#fechaSolicitudAlta').datepicker({
			dateFormat: "yy-mm-dd", 
			setDate: new Date()
		});
		
		
	});
	</script>