<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_cliente"></div>
		
			<div >		
				<ul id="avisoLista">
					<li> Cuando modificamos los datos de un cliente los cambios se tiene que producir: </li>
					<li> En eude.empresa where id  </li>
					<li> En 'bdEmpresa.info_cliente' si es alguno de estos campos:	
						<ul>
							<li> direccion </li>
							<li> cp </li>
							<li> poblacion </li>
							<li> provincia </li>
							<li> idPais </li>
							<li> email </li>
							<li> telefono1 </li>
							<li> telefono2 </li>
							<li> server </li>
							<li> streamapp </li>
							<li> conn </li>
							<li> emailAlerta </li>
							<li> telefonoAlert </li>
							<li> videoAnalisis </li>
						</ul>
					</li>
					
					<li>En bdEmpresa.login_users 
							<ul> 							
								<li> mail </li>
							</ul>
						</li>
					<li> </li>
					
				</ul>
			</div>			
				
				
			<div class="box-content">
				<!--SELECT-OPTION -->
				<div id="idClienteSeleccion_contenedor"> </div>					
				<br/>
				<br/>
				<br/>
					
				<!-- <h4 class="page-header">Introduce todos los datos del cliente y luego pulsa el botón guardar del final del formulario </h4> -->
				<form class="form-horizontal" role="form">
					
					<legend id="legend_form"> </legend>
					
					<!-- idCliente -->
					<div id="idCliente2_contenedor"> </div> 			
					
					<!-- dominio   -->					
					<div id="dominioCliente_contenedor"> </div> 													
					
					<!-- 	Razón social	-->
					<div id="razonSocial_contenedor"> </div> 
					
					<!-- nif / cif / dni -->
					<div id="dni_contenedor"> </div> 
					
					<!-- email -->
					<div id="email_contenedor"> </div>
					
					<!-- direccion -->
					<div id="direccion_contenedor"> </div> 
				
					<!-- poblacion -->
					<div id="poblacion_contenedor"> </div> 
									
					<!-- provincias -->
					<div id="idProvincias_contenedor"> </div> 
							
					<!-- codigo postal -->
					<div id="cp_contenedor"> </div> 
					
					<!-- pais -->
					<div id="idPais_contenedor"> </div>  
					
					<!-- telefono fijo -->
					<div id="tlf_fijo_contenedor"> </div> 
					
					<!-- telefono movil -->
					<div id="tlf_movil_contenedor"> </div> 
					
					
	
					<legend id="legend_form_otros"></legend>
					
					<!-- estado  -->		
					<div id="selectEstado_contenedor"> </div> 
				

					<!-- server = ip+puerto -->
					<div id="ipEmpresa_contenedor"> </div> 
									
					<!-- puerto -->
					<div id="puertoEmpresa_contenedor"> </div> 
						
					<!-- stream app cliente  -->	
					<div id="streamAPPCliente_contenedor"> </div> 
												
					<!-- conn -->			
					<div id="connCliente_contenedor"> </div> 					
				
					<!-- Video analisis -->	
					<div id="videoAnalisis_contenedor"> </div> 
					
						
					
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" id="submit" class="btn btn-primary" onclick="validar_datos('update')" >   </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'cliente'); ">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
				
				</div>
		</div>
	</div>
</div>
	
<script type="text/javascript">

	$(document).ready(function() {
		$("#avisoLista").hide();
		boxHeaderInfo("Modificar cliente - empresa ", "fa-pencil-square-o", "headerBox_update_cliente" , 1);
		operacionSQL="update";
		var nomFichero = operacionSQL+"_clienteHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idClienteSeleccion', nomFichero, 1 );
		inputCode('idCliente2', nomFichero, 0 );
		inputCode('dominioCliente', nomFichero, 0 );
		inputCode('razonSocial', nomFichero, 0 );
		inputCode('dni', nomFichero, 0);
		inputCode('email', nomFichero, 0 );
		inputCode('direccion', nomFichero, 0 );
		inputCode('poblacion', nomFichero, 0 );
		selectOptionCode('idProvincias', nomFichero,0);
		inputCode('cp', nomFichero, 0 );
		selectOptionCode('idPais', nomFichero,0);
		inputCode('tlf_fijo', nomFichero, 0 );
		inputCode('tlf_movil', nomFichero, 0 );
		// Otros datos
		inputCode('ipEmpresa', nomFichero, 0 );
		inputCode('puertoEmpresa', nomFichero, 0 );
		inputCode('streamAPPCliente', nomFichero, 0 );
		inputCode('connCliente', nomFichero, 0 );
		selectOptionCode('videoAnalisis', nomFichero, 0 );
		selectOptionCode('selectEstado', nomFichero, 0 );
		

		
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_cliente(operacionSQL);
		
		// cargando datos inicio	
		cargandoDatos("idClienteSeleccion", 'start', 'seleccion');
		cargandoDatos("idProvincias", 'start', 'seleccion');
		cargandoDatos("idPais", 'start', 'seleccion');
		
		// Cargamos el select-option	
		select_provincias('idProvincias', 'selectOption');
		select_pais("idPais", "selectOption");
		select_cliente('idClienteSeleccion','selectOption', 'cliente');
		select_optionBinario('selectEstado', 'Desactivo', 'Activo'); 	 // Estado cliente
		
		// valor seleccionado del select-option
		$("#selectOption_idClienteSeleccion").change(function(){
			changeSelect($('#idClienteSeleccion').val(), 'cliente', operacionSQL);  // mostrar_datos_cliente
		});
		
		
		// Campos numericos
		$('#cp').numeric();
		$('#tlf_fijo').numeric();
		$('#tlf_movil').numeric();
		
		// Initialize datepicker
		$('#fechaSolicitudAlta').datepicker({
			dateFormat: "yy-mm-dd", 
			setDate: new Date()
		});
	});
</script>