<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_dispositivoEmisor" ></div>
			
			<div class="box-content">
				
				<!-- Select-optoion -->
				<div id="idDispositivoEmisor_contenedor"> </div> 					
				<br/><br/>
		
				<form class="form-horizontal" role="form"  id="datosRouter">
					<legend id="legend_form"></legend>
			
					<!-- identificador -->
					<div id="idDispositivoEmisor2_contenedor"> </div> 		
					
					<!-- nombre  -->	
					<div id="nombre_contenedor"> </div> 
						
					<!-- descripcion  -->	
					<div id="descripcion_contenedor"> </div> 
				
					<!-- numSerie  -->	
					<div id="numSerie_contenedor"> </div> 
					
					<!-- modelo  -->	
					<div id="modelo_contenedor"> </div> 
					
					<!-- versionSO  -->	
					<div id="versionSO_contenedor"> </div> 
					
					<!-- Asignado  -->	
					<div id="asignado_contenedor"> </div> 
						
					<!-- fechaAlta -->
					<div id="fechaAlta_contenedor"> </div> 
					
					<!-- fechaModificacion -->
					<div id="fechaModificacion_contenedor"> </div> 
		
				</form>
			</div>
		
		</div>
	</div>
</div>
<div style="height: 40px;"></div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Consultar dispositivo emisor", "fa-search", "headerBox_query_dispositivoEmisor", 0);	
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_dispositivoEmisorHTML";
		$("form").hide();
	
		// Montamos el formulario 
		selectOptionCode('idDispositivoEmisor', nomFichero, 1);
			
		inputCode('idDispositivoEmisor2', nomFichero, 1);
		inputCode('nombre', nomFichero, 1);
		inputCode('descripcion', nomFichero, 1);
		inputCode('numSerie', nomFichero, 1);
		inputCode('modelo', nomFichero, 1);
		inputCode('versionSO', nomFichero, 1);
		inputCode('asignado', nomFichero, 1); 
		inputCode('fechaAlta', nomFichero, 1); 
		inputCode('fechaModificacion', nomFichero, 1); 
	 
		// cargando datos inicio	
		cargandoDatos("idDispositivoEmisor", 'start', 'seleccion');
	
		// Cargamos el select-option
		select_dispositivo_emisor('idDispositivoEmisor', 'selectOption');
		
		
		//valor seleccionado del select-option
		$("#selectOption_idDispositivoEmisor").change(function(){
			changeSelect($('#idDispositivoEmisor').val(), 'dispositivoEmisor', operacionSQL);  // mostrar_datos_dispositivo_emisor
		});


		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_dispositivo_emisor(operacionSQL);
		
	});
	
</script>