<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div id="headerBox_search_dispositivoEmisor" ></div>
			<div class="box-content no-padding">
				<article id="contenido"></article>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">


// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable1('datatableDispositivoEmisor');
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}


$(document).ready(function() {

	boxHeaderInfo("Consultar dispositivo emisor", "fa-info-circle", "headerBox_search_dispositivoEmisor", 0);	
	
	//Monto la tabla dinamicamente a traves de una consulta por ajax y Json.
	select_dispositivo_emisor('datatableDispositivoEmisor', 'dataTable');
	
	// Load Datatables and run plugin on tables 
	LoadDataTablesScripts(AllTables);
	
	// Add Drag-n-Drop feature
	WinMove();
		
	placeholder_textos_dispositivo_emisor('search');
	
});

</script>