<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_dispositivoEmisor" ></div>
			
			<div class="box-content">
				
				<!-- Select-opcion -->
				<div id="idDispositivoEmisor_contenedor"> </div> 			
				<br/><br/>
					
					<form class="form-horizontal" role="form" >
					
					<legend id="legend_form"> </legend>
		
					<!-- nombre  -->	
					<div id="nombre_contenedor"> </div> 
						
					<!-- descripcion  -->	
					<div id="descripcion_contenedor"> </div> 
				
					<!-- numSerie  -->	
					<div id="numSerie_contenedor"> </div> 
					
					<!-- modelo  -->	
					<div id="modelo_contenedor"> </div> 
					
					<!-- versionSO  -->	
					<div id="versionSO_contenedor"> </div> 
											
					<!-- botones  -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_dispositivoEmisor('update')" >  </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'dispositivoEmisor'); ">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar Dispositivo Emisor", "fa-pencil-square-o", "headerBox_update_dispositivoEmisor", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_dispositivoEmisorHTML";
		$("form").hide();
	
		// Montamos el formulario 
		selectOptionCode('idDispositivoEmisor', nomFichero, 1);
			
		inputCode('idDispositivoEmisor2', nomFichero, 1);
		inputCode('nombre', nomFichero, 0);
		inputCode('descripcion', nomFichero, 0);
		inputCode('numSerie', nomFichero, 0);
		inputCode('modelo', nomFichero, 0);
		inputCode('versionSO', nomFichero, 0);
	 
		// cargando datos inicio	
		cargandoDatos("idDispositivoEmisor", 'start', 'seleccion');
	
		// Cargamos el select-option
		select_dispositivo_emisor('idDispositivoEmisor', 'selectOption');
		
		// valor seleccionado del select-option
		$("#selectOption_idDispositivoEmisor").change(function(){
			changeSelect($('#idDispositivoEmisor').val(), 'dispositivoEmisor', operacionSQL);  // mostrar_datos_dispositivo_emisor
		});

	
		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_dispositivo_emisor(operacionSQL);
	});
	
</script>