<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_insert_camara"> </div>
				
			<div class="box-content">
				<form class="form-horizontal" role="form">
				<legend  id="legend_form"></legend>
				
				<!-- Nombre -->	
				<div id="nombreCamara_contenedor"> </div> 
				
				<!--  Tipo -->
				<div id="idTipoCamara_contenedor"> </div> 
				
				<!-- Num. Serial -->
				<div id="numSerialCamara_contenedor"> </div> 
				
				<!-- Direccion mac -->
				<div id="macCamara_contenedor"> </div> 
				
				<!-- Usuario -->
				<div id="userCamara_contenedor"> </div> 
				
				<!-- Clave -->
				<div id="passCamara_contenedor"> </div> 
				
				<!-- Ip Static -->
				<div id="locationIpCamara_contenedor"> </div> 
				
				<br>
				<legend  id="legend_form_main"></legend>
				
				<!-- RTSP Principal  -->
				<div id="rtspMain_contenedor"> </div> 
				
				<!--  Resolucion Principal -->
				<div id="resolutionMain_contenedor"> </div> 
				
				<!-- Kbps Principal -->
				<div id="kbpsMain_contenedor"> </div> 
				
				<br>				
				<legend  id="legend_form_second"></legend>
				
				<!--RTSP  Secundaria -->
				<div id="rtspSecond_contenedor"> </div> 
								
				<!-- Resolucion  Secundaria -->
				<div id="resolutionSecond_contenedor"> </div> 
							
				<!-- Kbps Secundaria -->
				<div id="kbpsSecond_contenedor"> </div> 		
								
				<!-- Botones -->
				<div class="form-group">
					<div class="col-sm-9 col-sm-offset-3">
						<button type="submit" id="submit" class="btn btn-primary" onclick="validar_datos_camara('insert')"></button>
						<button type="reset"  id="reset" class="btn btn-primary" onclick="borrar_datos_form()"></button>
						<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
						<p id="successMsg"  style="display:none;">  </p>
					</div>
				</div>
			</form>

			</div>
		</div>
	</div>
</div>
	
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>


<script type="text/javascript">


	$(document).ready(function() {
		
		boxHeaderInfo("A"+min_n+"adir c"+min_a+"mara", "fa-pencil-square", "headerBox_insert_camara" , 0);
		operacionSQL = "insert";
		var nomFichero = operacionSQL+"_camaraHTML";
				
		// Montamos el formulario 
		inputCode('nombreCamara', nomFichero, 0);
		// inputCode('tipoCamara', nomFichero, 0); // Esto pasara a ser un selectOption
		selectOptionCode('idTipoCamara', nomFichero, 0); // Esto pasara a ser un selectOption
		
		inputCode('numSerialCamara', nomFichero, 0);
		inputCode('macCamara', nomFichero, 0);
		inputCode('userCamara', nomFichero, 0);
		inputCode('passCamara', nomFichero, 0);
		inputCode('locationIpCamara', nomFichero, 0);
		inputCode('rtspMain', nomFichero, 0);
		inputCode('resolutionMain', nomFichero, 0);
		inputCode('kbpsMain', nomFichero, 0);
		inputCode('rtspSecond', nomFichero, 0);
		inputCode('resolutionSecond', nomFichero, 0);
		inputCode('kbpsSecond', nomFichero, 0);
	
		// cargando datos inicio	
		cargandoDatos("idTipoCamara", 'start', 'seleccion');
		
		// Select Option que tenemos que cargar
		select_tipo_camara('idTipoCamara', 'selectOption');
	
		// Initialize datepicker
		$('#fechaSolicitudAlta').datepicker({setDate: new Date()});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_camara("insert");
			
	});
</script>