<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_query_camara"></div>
			
			<div class="box-content">
			
					<!-- Select-option -->
					<div id="idCamara_contenedor"> </div>
					<br/>
					<br/>
					<br/>
					
					<form class="form-horizontal" role="form">
						<legend  id="legend_form"></legend>
					
					<!-- Identificador -->
					<div id="idCamara2_contenedor"> </div> 
					
					<!-- Nombre -->	
					<div id="nombreCamara_contenedor"> </div> 
					
					<!--  Tipo -->
					<div id="idTipoCamara_contenedor"> </div>
					
					<!-- Num. Serial -->
					<div id="numSerialCamara_contenedor"> </div> 
					
					<!-- Direccion mac -->
					<div id="macCamara_contenedor"> </div>
					
					<!-- Usuario -->
					<div id="userCamara_contenedor"> </div> 
					
					<!-- Clave -->
					<div id="passCamara_contenedor"> </div> 
					
					<!-- Ip Static -->
					<div id="locationIpCamara_contenedor"> </div> 
					
					<!-- Propietario -->
					<div id="propietarioCamara_contenedor"> </div>
					
					<!-- Fecha Alta -->
					<div id="fechaAlta_contenedor"> </div>
					
					<!-- Fecha Alta -->
					<div id="fechaModificacion_contenedor"> </div>

					<br>
					<legend  id="legend_form_main"></legend>
								
					<!-- RTSP Principal  -->
					<div id="rtspMain_contenedor"> </div> 
					
					<!--  Resolucion Principal -->
					<div id="resolutionMain_contenedor"> </div> 
					
					<!-- Kbps Principal -->
					<div id="kbpsMain_contenedor"> </div> 
					
					
					<br>
					<legend  id="legend_form_second"></legend>
					
					<!--RTSP  Secundaria -->
					<div id="rtspSecond_contenedor"> </div> 
									
					<!-- Resolucion  Secundaria -->
					<div id="resolutionSecond_contenedor"> </div> 
								
					<!-- Kbps Secundaria -->
					<div id="kbpsSecond_contenedor"> </div> 	
				

				</form>

			</div>
		</div>
	</div>
</div>



<script type="text/javascript">


	$(document).ready(function() {
		
		boxHeaderInfo("Buscar c"+min_a+"mara", "fa-info-circle", "headerBox_query_camara" , 0);		
		operacionSQL = "query";
		var nomFichero = operacionSQL+"_camaraHTML";
		$("form").hide();
		
		// Montamos el formulario (los input) 
		selectOptionCode('idCamara', nomFichero, 1);
		inputCode('idCamara2', nomFichero, 1); 
		inputCode('nombreCamara', nomFichero, 1);
		selectOptionCode('idTipoCamara', nomFichero, 0);
		inputCode('numSerialCamara', nomFichero, 1);
		inputCode('macCamara', nomFichero, 1);
		inputCode('userCamara', nomFichero, 1);
		inputCode('passCamara', nomFichero, 1);
		inputCode('locationIpCamara', nomFichero, 1);
		inputCode('propietarioCamara', nomFichero, 1);
		inputCode('fechaAlta', nomFichero, 1);
		inputCode('fechaModificacion', nomFichero, 1); 
		inputCode('rtspMain', nomFichero, 1);
		inputCode('resolutionMain', nomFichero, 1);
		inputCode('kbpsMain', nomFichero, 1);
		inputCode('rtspSecond', nomFichero, 1);
		inputCode('resolutionSecond', nomFichero, 1);
		inputCode('kbpsSecond', nomFichero, 1);
		inputCode('propietarioCamara', nomFichero, 1);
		
		// cargando datos inicio	
		cargandoDatos("idCamara", 'start', 'seleccion');
		
		// Cargamos el select-option
		select_camaras("idCamara","selectOption");
		select_cliente("idClienteSeleccionado","selectOption", "camara");
		select_tipo_camara('idTipoCamara', 'selectOption');
		
		// valor seleccionado del select-option
		$("#selectOption_idCamara").change(function(){
			changeSelect($('#idCamara').val(), 'camara', operacionSQL);  // mostrar_datos_camara		
		});
		
		// Initialize datepicker
		$('#fechaSolicitudAlta').datepicker({setDate: new Date()});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_camara(operacionSQL);
		
		
		//LoadSelect2Script(DemoSelect2);

		//WinMove();
	});
</script>

