<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div id="headerBox_update_camara"></div>
			
			<div class="box-content">
				
				<!-- Select-option -->
				<div id="idCamara_contenedor"> </div>
				<br/>
				<br/>
				<br/>
		
				<form class="form-horizontal" role="form">
					<legend id="legend_form"> </legend>
					
					<!-- Identificador -->
					<div id="idCamara2_contenedor"> </div> 
							
					<!-- Nombre -->	
					<div id="nombreCamara_contenedor"> </div> 
					
					<!--  Tipo -->
					<div id="idTipoCamara_contenedor"> </div>
					
					<!-- Num. Serial -->
					<div id="numSerialCamara_contenedor"> </div> 
					
					<!-- Direccion mac -->
					<div id="macCamara_contenedor"> </div> 
					
					<!-- Usuario -->
					<div id="userCamara_contenedor"> </div> 
					
					<!-- Clave -->
					<div id="passCamara_contenedor"> </div> 
					
					<!-- Ip Static -->
					<div id="locationIpCamara_contenedor"> </div> 
					
					<!-- Propietario -->
					<div id="propietarioCamara_contenedor"> </div>
					
					<!-- Fecha Alta -->
					<div id="fechaAlta_contenedor"> </div>
					
					<!-- Fecha Alta -->
					<div id="fechaModificacion_contenedor"> </div>

					<br>
					<legend  id="legend_form_main"></legend>
								
					<!-- RTSP Principal  -->
					<div id="rtspMain_contenedor"> </div> 
					
					<!--  Resolucion Principal -->
					<div id="resolutionMain_contenedor"> </div> 
					
					<!-- Kbps Principal -->
					<div id="kbpsMain_contenedor"> </div> 
					
					
					<br>
					<legend  id="legend_form_second"></legend>
					
					<!--RTSP  Secundaria -->
					<div id="rtspSecond_contenedor"> </div> 
									
					<!-- Resolucion  Secundaria -->
					<div id="resolutionSecond_contenedor"> </div> 
								
					<!-- Kbps Secundaria -->
					<div id="kbpsSecond_contenedor"> </div> 		
								
					<!-- Botones -->
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button id="submit" type="submit" class="btn btn-primary" onclick="validar_datos_camara('update')">  </button>
							<button id="reset2"  class="btn btn-primary" onclick="limpiarFormulario('update', 'camara'); ">  </button>
							<div id="guardandoDatos" class="cargarDatos txtLeft">  </div> 
							<p id="successMsg"  style="display:none;">  </p>
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>
</div>
	
<script type="text/javascript">

	$(document).ready(function() {
		boxHeaderInfo("Modificar c"+min_a+"mara", "fa-pencil-square-o", "headerBox_update_camara", 0);
		operacionSQL = "update";
		var nomFichero = operacionSQL+"_camaraHTML";
		$("form").hide();
		
		// Montamos el formulario 
		selectOptionCode('idCamara', nomFichero, 1);
		inputCode('idCamara2', nomFichero, 1); 
		inputCode('nombreCamara', nomFichero, 0);
		selectOptionCode('idTipoCamara', nomFichero, 0); // Esto pasara a ser un selectOption
		inputCode('numSerialCamara', nomFichero, 0);
		inputCode('macCamara', nomFichero, 0);
		inputCode('userCamara', nomFichero, 0);
		inputCode('passCamara', nomFichero, 0);
		inputCode('locationIpCamara', nomFichero, 0);
		inputCode('rtspMain', nomFichero, 0);
		inputCode('resolutionMain', nomFichero, 0);
		inputCode('kbpsMain', nomFichero, 0);
		inputCode('rtspSecond', nomFichero, 0);
		inputCode('resolutionSecond', nomFichero, 0);
		inputCode('kbpsSecond', nomFichero, 0);
		// inputCode('propietarioCamara', nomFichero, 0);
		

		// cargando datos inicio	
		cargandoDatos("idCamara", 'start', 'seleccion');
		
		// Cargamos el select-option
		select_camaras('idCamara', 'selectOption');
		select_tipo_camara('idTipoCamara', 'selectOption');
		
		//valor seleccionado del select-option
		$("#selectOption_idCamara").change(function(){
			changeSelect($('#idCamara').val(), 'camara', operacionSQL);  // mostrar_datos_camara		
		});
		
		
		// Initialize datepicker
		$('#fechaSolicitudAlta').datepicker({setDate: new Date()});

		// Add tooltip to form-controls
		$('.form-control').tooltip();
		placeholder_textos_camara(operacionSQL);

	});
</script>